
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	@functions{

		public string GetAntiForgeryToken()
		{
			string cookieToken, formToken;
			AntiForgery.GetTokens(null, out cookieToken, out formToken);
			return cookieToken + ":" + formToken;
		} }
	
	<input type="hidden" id="primaryID" name="primaryID" value="@ViewBag.CurrentID" />
	<input type="hidden" id="ActionType" name="ActionType" value="@ViewBag.ActionType" />
	<div class="content_header">
		<ol class="breadcrumb">
			<li>	<a href="/home/dashboard"><i class="fa fa-home"></i></a> </li>
			<li>CLS</li>
			<li>Report</li>
			<li> DailyCleaning Activity Summary Report </li>
			<a id="HelpDescriptionLink" data-toggle="modal" title="" tabindex="0" data-target="#Description" aria-disabled="false">
				<i class="fa fa-question-circle" aria-hidden="true" style="float:right;margin-right:20px;"></i>
				<span class="badge" id="helpdescriptionid"></span>
			</a>
		</ol>
		<h4>Daily Cleaning Activity Summary Report</h4>
	</div>	
	<div>
		<form id="formDailyCleaningActivity" name="formDailyCleaningActivity" class="form-horizontal">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-6 control-label">Month <span style="color:red">*</span></label>
						<div>
							<div class="col-sm-6">
								<div id="MonthVal">
									<select required class="form-control" id="ddlMonth"> </select>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-6 control-label">Year <span style="color:red">*</span></label>
						<div>
							<div class="col-sm-6">
								<div id="YearVal">
									<select type="text" required class="form-control" id="ddlYear" autocomplete="off" name="FileType" maxlength="25" tabindex="2"></select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<center>
						<input type="button" id="btnDailyCleaningActivitytFetch" class="btn btn-primary" value="Fetch" /> &nbsp;&nbsp;
						<input type="button" id="btnPrint" class="btn btn-primary" value="Print" />
					</center>
				</div>
			</div>
			<div id="errorMsg" class="errormsgcenter" style="color:red; visibility:hidden; text-align:center;" aria-hidden="true">
				<!-- ngIf: RescheduleErrorList.length > 0 -->
			</div>
            <div class="row">
                @{
                    ViewData["ReportName"] = "Daily Cleaning Activity Summary Report";
                }
                <hr style="margin:0px;" />
                <div id="divReportData" style="display:block">
                    @Html.Partial("~/Areas/HWMS/Views/Shared/_reportHeader.cshtml", ViewData["ReportName"])

                    <table id="tblReport" class="table table-bordered">
                        <thead>
                            <tr style="height:20px">
                                <th style="text-align: left;background-color:lightgray;color:black;border:1px solid black" width="8%">Hospital</th>
                                <th style="text-align: center;background-color:white;color:black;border:1px solid black" width="10%">Hospital Tunku Azizah</th>
                                <th style="text-align: left;background-color:lightgray;color:black;border:1px solid black;" width="8%">Year</th>
                                <th id="tdYear" style="text-align: left;background-color:white;color:black;border:1px solid black;font-weight:bolder" width="15%"> </th>
                                <th style="text-align: left;background-color:lightgray;color:black;border:1px solid black;" width="8%">Month</th>
                                <th id="tdMonth" style="text-align: left;background-color:white;color:black;border:1px solid black;font-weight:bolder" width="15%"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="6" style="padding-left:0px; padding-right:0px; border:0px;">
                                    <table style="width:100%; margin-top:10px;" class="table">
                                        <thead>
                                            <tr style="height:20px;">
                                                <td style="background: #477baa; color: #fff; padding:5px;">No.</td>
                                                <td style="background: #477baa; color: #fff; padding:5px;">User Area Code</td>
                                                <td style="background: #477baa; color: #fff; padding:5px;">User Area</td>
                                                <td style="background: #477baa; color: #fff; padding:5px;">A1</td>
                                                <td style="background: #477baa; color: #fff; padding:5px;">A2</td>
                                                <td style="background: #477baa; color: #fff; padding:5px;">A3</td>
                                                <td style="background: #477baa; color: #fff; padding:5px;">A4</td>
                                                <td style="background: #477baa; color: #fff; padding:5px;">B1</td>
                                                <td style="background: #477baa; color: #fff; padding:5px;">C1</td>
                                                <td style="background: #477baa; color: #fff; padding:5px;">D1</td>
                                                <td style="background: #477baa; color: #fff; padding:5px;">D2</td>
                                                <td style="background: #477baa; color: #fff; padding:5px;">D3</td>
                                                <td style="background: #477baa; color: #fff; padding:5px;">E1</td>


                                            </tr>
                                        </thead>
                                        <tbody id="tbodyReport"></tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="col-sm-12 form-group">
                        <p style="font-size: 1.5em"><b><small>Legend :</small></b></p>
                        <p style="font-size: 1em"><b>A1: Dust Mop, A2: Damp Mop, A3: Vacuum, A4: Washing, A5: Sweeping, B1: Wiping, C1: Washing, D1: Paper Hand Towel, D2: Toilet/Jumbo Roll, D3: Hand Soap,D4: Deodorisers, E1: Waste Collection</b></p>
                    </div>
                </div>

            </div>
               

		</form>
	</div>

</div>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ng/controllers/CLS/CLSReports.js")"></script>
}


