USE [UetrackMasterdbPreProd]
GO
/****** Object:  StoredProcedure [dbo].[LLSCleanLinenDespatchTxnDetUpdate]    Script Date: 20-09-2021 16:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LLSCleanLinenDespatchTxnDetUpdate]      
(      
@LLSCleanLinenDespatchTxnDetUpdate AS [LLSCleanLinenDespatchTxnDetUpdate] READONLY  
)      
      
AS      
      
BEGIN      
SET NOCOUNT ON        
SET TRANSACTION ISOLATION LEVEL READ COMMITTED        
BEGIN TRY        
      
      
UPDATE A      
SET      
 A.ReceivedQuantity = B.ReceivedQuantity,      
 A.Variance = B.DespatchedQuantity - B.ReceivedQuantity,      
 A.Remarks = B.Remarks,      
 A.ModifiedBy = B.ModifiedBy,      
 A.ModifiedDate = GETDATE(),      
 A.ModifiedDateUTC = GETUTCDATE()   
FROM LLSCleanLinenDespatchTxnDet as A Inner join @LLSCleanLinenDespatchTxnDetUpdate as B on A.CleanLinenDespatchDetId= B.CleanLinenDespatchDetId  
WHERE A.CleanLinenDespatchDetId = B.CleanLinenDespatchDetId       
      
      
END TRY        
BEGIN CATCH        
        
INSERT INTO ErrorLog(SpName,ErrorMessage,CreatedDate)        
VALUES (OBJECT_NAME(@@PROCID),'Error_line: '+ CONVERT(VARCHAR(10),error_line()) + ' - '+error_message(),getdate());        
        
THROW        
        
END CATCH        
SET NOCOUNT OFF        
END
GO
