USE [UetrackMasterdbPreProd]
GO
/****** Object:  StoredProcedure [dbo].[ex]    Script Date: 20-09-2021 16:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ex]

as
begin
select*from [dbo].[Tempp] 
end
GO
