USE [UetrackMasterdbPreProd]
GO
/****** Object:  StoredProcedure [dbo].[LLSLinenRejectReplacementTxn_Save]    Script Date: 20-09-2021 16:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
      
                          
-- Exec [LLSLinenRejectReplacementTxn_Save ]                           
                          
--/*=====================================================================================================================                          
--APPLICATION  : UETrack 1.5                          
--NAME    : LLSLinenRejectReplacementTxn_Save                         
--DESCRIPTION  : SAVE RECORD IN [LLSLinenRejectReplacementTxn] TABLE                           
--AUTHORS   : SIDDHANT                          
--DATE    : 8-JAN-2020                        
-------------------------------------------------------------------------------------------------------------------------                          
--VERSION HISTORY                           
--------------------:---------------:---------------------------------------------------------------------------------------                          
--Init    : Date          : Details                          
--------------------:---------------:---------------------------------------------------------------------------------------                          
--SIDDHANT          : 8-JAN-2020 :                           
-------:------------:----------------------------------------------------------------------------------------------------*/                          
                          
                       
CREATE PROCEDURE  [dbo].[LLSLinenRejectReplacementTxn_Save]                                                     
                          
(                          
 @Block As [dbo].[LLSLinenRejectReplacementTxn] READONLY                          
)                                
                          
AS                                
                          
BEGIN                          
SET NOCOUNT ON                          
SET TRANSACTION ISOLATION LEVEL READ COMMITTED                          
BEGIN TRY                          
                        
DECLARE @Table TABLE (ID INT)                          
DECLARE @pCustomerId INT                  
DECLARE @pFacilityId INT                  
DECLARE @mDefaultkey VARCHAR(100)                  
DECLARE @mMonth INT                  
DECLARE @mYear INT                  
DECLARE @mDay INT               
DECLARE @YYMM VARCHAR(50)              
DECLARE @YYMMDD VARCHAR(50)              
DECLARE @pOutParam VARCHAR(100)                  
DECLARE @pDocumentNo VARCHAR(100)                  
                  
SET @pCustomerId=(SELECT CustomerId FROM @Block )                  
SET @pFacilityId=(SELECT FacilityId FROM @Block )                  
SET @mDefaultkey='LRR'                  
SET @mMonth=(SELECT RIGHT('00' + CONVERT(NVARCHAR(2), DATEPART(MONTH,ReceivedDateTime)),2) FROM @Block)              
SET @mYear=(SELECT YEAR(ReceivedDateTime) FROM @Block)              
SET @mDay=(SELECT RIGHT('00' + CONVERT(NVARCHAR(2), DATEPART(DAY,ReceivedDateTime)),2) FROM @Block)                  
SET @YYMMDD=CONCAT(CONCAT(@mYear,@mMonth),@mDay)            
SET @YYMM=CONCAT(@mYear,@mMonth)   
  
--SELECT @pCustomerId,@pFacilityId,@mDefaultkey,@mMonth,@mYear,@mDay,@YYMMDD,@YYMM                  
                  
                  
                  
EXEC [uspFM_GenerateDocumentNumber] @pFlag='Linen Reject / Replacement',@pCustomerId=@pCustomerId,@pFacilityId=@pFacilityId,@Defaultkey=@mDefaultkey,@pModuleName=NULL,@pMonth=@mMonth,@pYear=@mYear,@pOutParam=@pOutParam OUTPUT                              
  
    
SELECT @pDocumentNo=REPLACE(@pOutParam,@YYMM,@YYMMDD)                    
              
              
INSERT INTO LLSLinenRejectReplacementTxn (                      
 CustomerId,                      
 FacilityId,                      
 DocumentNo,                      
 DateTime,                      
 CleanLinenIssueId,                  
 LLSUserAreaId,                      
 LLSUserLocationId,                      
 RejectedBy,                      
 ReplacementReceivedBy,                      
 ReceivedDateTime,                      
 TotalQuantityRejected,                      
 TotalQuantityReplaced,                       
 Remarks,                      
 CreatedBy,                      
 CreatedDate,         
 CreatedDateUTC,          
 ModifiedBy,          
 ModifiedDate,          
 ModifiedDateUTC)                         
OUTPUT INSERTED.LinenRejectReplacementId INTO @Table                          
SELECT   CustomerId,                      
 FacilityId,                      
 @pDocumentNo as DocumentNo,                      
 DateTime,                      
 CleanLinenIssueId,                   
 LLSUserAreaId,                     
 LLSUserLocationId,                      
 RejectedBy,                      
 ReplacementReceivedBy,              
 ReceivedDateTime,                      
 TotalQuantityRejected,                      
 TotalQuantityReplaced,                       
 Remarks,                      
CreatedBy,                        
GETDATE(),                        
GETUTCDATE(),          
ModifiedBy,                        
GETDATE(),                        
GETUTCDATE()          
FROM @Block                          
                     
SELECT LinenRejectReplacementId                        
      ,[Timestamp]                        
   ,'' ErrorMsg                        
      --,GuId                         
FROM LLSLinenRejectReplacementTxn WHERE LinenRejectReplacementId IN (SELECT ID FROM @Table)                          
                          
END TRY                          
BEGIN CATCH                          
                          
INSERT INTO ErrorLog(SpName,ErrorMessage,CreatedDate)                          
VALUES (OBJECT_NAME(@@PROCID),'Error_line: '+ CONVERT(VARCHAR(10),error_line()) + ' - '+error_message(),getdate());                          
                          
THROW                          
                          
END CATCH                          
SET NOCOUNT OFF                          
END 
GO
