USE [UetrackMasterdbPreProd]
GO
/****** Object:  StoredProcedure [dbo].[Sp_HWMS_Document_AutoGenerated]    Script Date: 20-09-2021 16:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_HWMS_Document_AutoGenerated]
@pScreenName varchar(200)
AS
BEGIN
SET NOCOUNT ON;

BEGIN TRY

	IF(@pScreenName = 'OSWRS')
	BEGIN
		SELECT  top 1 'HWMS/OSWRS/' + convert(varchar, getdate() , 112) + '/' + REPLICATE('0', 6-LEN(convert(int, SUBSTRING(OSWRSNo, 21, 30))))
		 + CONVERT(varchar, convert(int, SUBSTRING(OSWRSNo, 21, 30) + 1))
		as OSWRSNo FROM HWMS_OSWRecordSheet order by OSWRId desc
	END




END TRY
BEGIN CATCH
	INSERT INTO ExceptionLog (  
	ErrorLine, ErrorMessage, ErrorNumber,  
	ErrorProcedure, ErrorSeverity, ErrorState,  
	DateErrorRaised  
	)  
	SELECT  
	ERROR_LINE () as ErrorLine,  
	Error_Message() as ErrorMessage,  
	Error_Number() as ErrorNumber,  
	Error_Procedure() as 'Sp_HWMS_OSWRecordSheetAutoGenerated',  
	Error_Severity() as ErrorSeverity,  
	Error_State() as ErrorState,  
	GETDATE () as DateErrorRaised  
END CATCH
end
GO
