USE [UetrackMasterdbPreProd]
GO
/****** Object:  StoredProcedure [dbo].[Sp_HWMS_TreatmentPlantData]    Script Date: 20-09-2021 16:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_HWMS_TreatmentPlantData]
		(@pTreatmentPlantName nvarchar(30))
AS
BEGIN
SET NOCOUNT ON; 
BEGIN TRY
		SELECT 
		
		(select FieldValue from FMLovMst where LovId = HWMS_TreatementPlant.Ownership) AS Ownership 
		
		FROM HWMS_TreatementPlant  WHERE TreatmentPlantName =@pTreatmentPlantName
END TRY 
BEGIN CATCH  
		INSERT INTO ExceptionLog (  
		ErrorLine, ErrorMessage, ErrorNumber,  
		ErrorProcedure, ErrorSeverity, ErrorState,  
		DateErrorRaised  
		)  
		SELECT  
		ERROR_LINE () as ErrorLine,  
		Error_Message() as ErrorMessage,  
		Error_Number() as ErrorNumber,  
		Error_Procedure() as 'Sp_CLS_ChemicalNameData',  
		Error_Severity() as ErrorSeverity,  
		Error_State() as ErrorState,  
		GETDATE () as DateErrorRaised  	
END CATCH 
END
GO
