USE [UetrackMasterdbPreProd]
GO
/****** Object:  StoredProcedure [dbo].[LLSLinenInventoryTxn_FetchVerifiedBy]    Script Date: 20-09-2021 16:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC LLSLinenInventoryTxn_FetchVerifiedBy         
        
CREATE PROCEDURE [dbo].[LLSLinenInventoryTxn_FetchVerifiedBy]       
 @StaffName AS VARCHAR(50)            
,@pPageIndex    INT     
,@pPageSize    INT     
  
AS             
            
-- Exec [LLSLinenInventoryTxn_FetchVerifiedBy]             
            
--/*=====================================================================================================================            
--APPLICATION  : UETrack            
--NAME    : LLSLinenInventoryTxn_FetchVerifiedBy            
--DESCRIPTION  : GET USER ROLE FOR THE GIVEN ID            
--AUTHORS   : SIDDHANT            
--DATE    : 20-FEB-2020            
-------------------------------------------------------------------------------------------------------------------------            
--VERSION HISTORY             
--------------------:---------------:---------------------------------------------------------------------------------------            
--Init    : Date          : Details            
--------------------:---------------:---------------------------------------------------------------------------------------            
--SIDDHANT           : 20-FEB-2020 :             
-------:------------:----------------------------------------------------------------------------------------------------*/            
BEGIN            
SET NOCOUNT ON            
SET TRANSACTION ISOLATION LEVEL READ COMMITTED            
BEGIN TRY            
  
DECLARE @TotalRecords INT     
SELECT  @TotalRecords = COUNT(*)      
FROM dbo.UMUserRegistration A              
WHERE (A.UserTypeId =2)        
AND ((ISNULL(@StaffName,'') = '' ) OR (ISNULL(@StaffName,'') <> '' AND ( A.StaffName LIKE + '%' + @StaffName + '%'  OR A.StaffName LIKE + '%' + @StaffName + '%' )))           
--AND ((ISNULL(@FacilityId,'')='' )  OR (ISNULL(@FacilityId,'') <> '' AND A.FacilityId = @FacilityId))      
  
  
             
SELECT A.StaffName,A.UserRegistrationId, @TotalRecords AS TotalRecords        
FROM dbo.UMUserRegistration A      
WHERE (A.UserTypeId =2)        
AND ((ISNULL(@StaffName,'') = '' ) OR (ISNULL(@StaffName,'') <> '' AND ( A.StaffName LIKE + '%' + @StaffName + '%'  OR A.StaffName LIKE + '%' + @StaffName + '%' )))           
ORDER BY A.ModifiedDateUTC DESC      
OFFSET (@pPageSize *  (@pPageIndex-1))   ROWS FETCH NEXT  @pPageSize  ROWS ONLY       
  
          
END TRY            
BEGIN CATCH            
            
INSERT INTO ErrorLog(SpName,ErrorMessage,CreatedDate)            
VALUES (OBJECT_NAME(@@PROCID),'Error_line: '+ CONVERT(VARCHAR(10),error_line()) + ' - '+error_message(),getdate());            
            
THROW            
            
END CATCH            
SET NOCOUNT OFF            
END
GO
