USE [UetrackMasterdbPreProd]
GO
/****** Object:  StoredProcedure [dbo].[Sp_CLS_ChemicalUsedReportFetch]    Script Date: 20-09-2021 16:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        
CREATE PROC [dbo].[Sp_CLS_ChemicalUsedReportFetch]          
--- EXEC Sp_CLS_ChemicalUsedReportFetch  10391, 10373    
        
 @Month INT,          
 @Year INT          
           
AS           
BEGIN          
SET NOCOUNT ON          
BEGIN TRY          
                 
   --  SELECT *  FROM FMLovMst WITH(NOLOCK)        
  -- WHERE Active = 1  AND LovKey='MonthValue' AND ScreenName = 'WeekCalendar' and ModuleName = 'CLS'    
          
  DECLARE @YearName VARCHAR(15), @MonthName VARCHAR(15) , @YearLovId INT, @MonthLovId INT    
    
 SELECT @YearName = FieldValue FROM FMLovMst WITH(NOLOCK)        
   WHERE Active = 1  AND LovKey='YearValue' AND ScreenName = 'WeekCalendar' and ModuleName = 'CLS'  AND LovId = @Year     
        
 SELECT @MonthName = FieldValue  FROM FMLovMst WITH(NOLOCK)        
   WHERE Active = 1  AND LovKey='MonthValue' AND ScreenName = 'WeekCalendar' and ModuleName = 'CLS' AND LovId = @Month    
  --  SELECT @YearName, @MonthName    
        
   SELECT C.ChemicalName, A.KMMNo, D.FieldValue as Category, E.FieldValue as AreaofApplication,     
   A.Properties, F.FieldValue as [Status], A.EffectiveDate     
   FROM CLS_ChemicalInUseChemicals A    
   LEFT JOIN CLS_ChemicalInUse B ON  A.ChemicalInUseId = B.ChemicalId    
   LEFT JOIN CLS_ApprovedChemicalList C ON A.ChemicalId = C.ChemicalId    
   LEFT JOIN FMLovMst D ON A.Category = D.LovId    
   LEFT JOIN FMLovMst E ON A.AreaofApplication = E.LovId    
   LEFT JOIN FMLovMst F ON A.[Status] = F.LovId    
   WHERE Year(B.[Date]) = @YearName AND DATENAME(MONTH, B.[Date]) = @MonthName AND B.CustomerId = B.CustomerId and B.FacilityId = B.FacilityId    
       
         
  -- SELECT * FROM CLS_ChemicalInUse    
    
    
        
END TRY          
BEGIN CATCH          
          
INSERT INTO ExceptionLog (            
  ErrorLine, ErrorMessage, ErrorNumber,            
  ErrorProcedure, ErrorSeverity, ErrorState,            
  DateErrorRaised            
  )            
  SELECT            
  ERROR_LINE () as ErrorLine,            
  Error_Message() as ErrorMessage,            
  Error_Number() as ErrorNumber,            
  Error_Procedure() as 'Sp_CLS_PeriodicWorkRecordSummaryReport_Get',            
  Error_Severity() as ErrorSeverity,            
  Error_State() as ErrorState,            
  GETDATE () as DateErrorRaised             
END CATCH          
END
GO
