USE [UetrackMasterdbPreProd]
GO
/****** Object:  StoredProcedure [dbo].[sp_CLS_ToiletInspectionTxn_AutoGenerated]    Script Date: 20-09-2021 16:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_CLS_ToiletInspectionTxn_AutoGenerated]
AS
BEGIN
SET NOCOUNT ON;
BEGIN TRY

DECLARE @RecordNumber VARCHAR(50) 
SET @RecordNumber = '000001'


SELECT TOP 1 @RecordNumber = DocumentNo FROM CLS_ToiletInspectionTxn order by ToiletInspectionId desc

SELECT  'WAC/TI/' + convert(varchar(7), getdate() , 111) + '/' + REPLICATE('0', 6-LEN(convert(int, SUBSTRING(@RecordNumber, 20, 30))))
		+ CONVERT(varchar, convert(int, SUBSTRING(@RecordNumber, 20, 30) + 1)) as DocumentNo  

	

END TRY
BEGIN CATCH
	INSERT INTO ExceptionLog (  
	ErrorLine, ErrorMessage, ErrorNumber,  
	ErrorProcedure, ErrorSeverity, ErrorState,  
	DateErrorRaised  
	)  
	SELECT  
	ERROR_LINE () as ErrorLine,  
	Error_Message() as ErrorMessage,  
	Error_Number() as ErrorNumber,  
	Error_Procedure() as 'Sp_CLS_PeriodicWorkRecordAutoGeneratedCode',  
	Error_Severity() as ErrorSeverity,  
	Error_State() as ErrorState,  
	GETDATE () as DateErrorRaised  
END CATCH
END
GO
