USE [UetrackMasterdbPreProd]
GO
/****** Object:  StoredProcedure [dbo].[LLSWeighingScaleMst_GetById]    Script Date: 20-09-2021 16:42:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
            
                
CREATE PROCEDURE [dbo].[LLSWeighingScaleMst_GetById]                 
(                
 @Id INT                
)                
                 
AS                 
    -- Exec [LLSWeighingScaleMst_GetById] 135             
              
--/*=====================================================================================================================              
--APPLICATION  : UETrack              
--NAME    : LLSWeighingScaleMst_GetById            
--DESCRIPTION  : GETS THE WeighingScaleMst             
--AUTHORS   : SIDDHANT              
--DATE    : 9-JAN-2020              
-------------------------------------------------------------------------------------------------------------------------              
--VERSION HISTORY               
--------------------:---------------:---------------------------------------------------------------------------------------              
--Init    : Date          : Details              
--------------------:---------------:---------------------------------------------------------------------------------------              
--SIDDHANT           : 9-JAN-2020 :               
-------:------------:----------------------------------------------------------------------------------------------------*/              
              
BEGIN                
SET NOCOUNT ON                
SET TRANSACTION ISOLATION LEVEL READ COMMITTED                
BEGIN TRY                
                 
SELECT        
A.WeighingScaleId,  
A.GuId,  
 B.LovId as IssuedBy,            
 ItemDescription,            
 SerialNo,            
 IssuedDate,            
 ExpiryDate,            
 C.LovId as Status            
FROM            
 dbo.LLSWeighingScaleMst A            
INNER JOIN            
 dbo.FMLovMst as B ON A.IssuedBy =B.LovId            
INNER JOIN            
 dbo.FMLovMst as C ON A.Status =C.LovId             
WHERE A.WeighingScaleId=@Id            
AND ISNULL(A.IsDeleted,'')=''

            
END TRY                
BEGIN CATCH                
                
INSERT INTO ErrorLog(SpName,ErrorMessage,CreatedDate)                
VALUES (OBJECT_NAME(@@PROCID),'Error_line: '+ CONVERT(VARCHAR(10),error_line()) + ' - '+error_message(),getdate());                
                
THROW                
                
END CATCH                
SET NOCOUNT OFF                
END
GO
