USE [UetrackMasterdbPreProd]
GO
/****** Object:  StoredProcedure [dbo].[sp_HWMS_ConsignmentDriverCodeFetch]    Script Date: 20-09-2021 16:43:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_HWMS_ConsignmentDriverCodeFetch]
(
      @DriverCode				nvarchar(50)	=	NULL,
	  @pPageIndex					INT,
	  @pPageSize					INT,
	  @pFacilityId					INT
)
AS                                              

BEGIN TRY
	SET NOCOUNT ON; 

	DECLARE @TotalRecords INT

	
		SELECT		@TotalRecords	=	COUNT(*)
		FROM		HWMS_DriverDetails A WITH(NOLOCK)
		where  ((ISNULL(@DriverCode	,'') = '' )	OR (ISNULL(@DriverCode	,'') <> '' AND DriverCode	 LIKE + '%' + @DriverCode + '%' ))
		
		select A.DriverId,A.DriverCode, A.DriverName,	@TotalRecords AS TotalRecords
		FROM		HWMS_DriverDetails A WITH(NOLOCK)
		where  ((ISNULL(@DriverCode,'') = '' )	OR (ISNULL(@DriverCode,'') <> '' AND DriverCode LIKE + '%' + @DriverCode + '%' ))
		ORDER BY	A.DriverId DESC
		OFFSET (@pPageSize *  (@pPageIndex-1))   ROWS FETCH NEXT  @pPageSize  ROWS ONLY 

		END TRY
BEGIN CATCH
	INSERT INTO ErrorLog(
				Spname,
				ErrorMessage,
				createddate)

	VALUES(		OBJECT_NAME(@@PROCID),
				'Error_line: '+CONVERT(VARCHAR(10),	ERROR_LINE())+' - '+ERROR_MESSAGE(),
				GETDATE()
		   )
END CATCH
GO
