
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    @functions{
        public string GetAntiForgeryToken()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }

    <input id="antiForgeryToken" type="hidden" />
    <input type="hidden" id="primaryID" name="primaryID" value="@ViewBag.Id" />
    <input type="hidden" id="ActionType" name="ActionType" value="@ViewBag.ActionType" />
    <input type="hidden" id="Timestamp" name="Timestamp" value="null" />

    <div class="content_header">
        <ol class="breadcrumb">
            <li>
                <a href="/home/dashboard"><i class="fa fa-home"></i></a>
            </li>
            <li>QAP</li>           
            <li class="active">Indicator Master</li>            
            <a id="HelpDescriptionLink" data-toggle="modal" title="" tabindex="0" data-target="#Description" aria-disabled="false">
                <i class="fa fa-question-circle" aria-hidden="true" style="float:right;margin-right:20px;"></i>
                <span class="badge" id="helpdescriptionid"></span>
            </a>
        </ol>
        <h4> Indicator Master</h4>
       
    </div>
    <!-- Content Header Ends -->
    <!-- Contents goes here -->

    <div class="content_body">
        <form class="form-horizontal" id="QAPIndicatorMasterForm" autocomplete="off">


            <div class="row">
                <div class="col-sm-6" hidden>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Service<span class="red"> </span></label>

                        <div class="col-sm-6">
                            <select class="form-control" name="Service" id="qapIndicatorService" disabled>                            
                                
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Indicator Number<span class="red"> *</span></label>
                        <div class="col-sm-6">
                            <input type="text" name="Indicator Code" id="qapIndicatorCode" class="form-control" disabled  required>                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Indicator Name</label>
                        <div class="col-sm-9">
                            <textarea type="text" class="form-control wt-resize" name="Indicator Name" id="qapIndicatorName" style="height:70px;" disabled ></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @*<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Short Description</label>
                        <div class="col-sm-6">
                            <input type="text" name="ShortDescription" id="qapShortDescription" class="form-control">
                        </div>
                    </div>
                </div>*@
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Indicator Standard(%)<span class="red"> *</span></label>
                        <div class="col-sm-6">
                            <input type="text" name="Indicator Standard" id="qapIndicatorStandard" class="text-right form-control" pattern="^100$|^\d{0,2}(\.\d{1,2})? *%?$" required>
                        </div>

                        
                    </div>
                </div>
            </div>

            <div id="errorMsg" class="errormsgcenter" style="color:red; visibility:hidden;" aria-hidden="true"></div>
            <div class="row mt30">
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button type="button" id="btnQapIndicatorEdit" class="btn btn-primary hider" title="Save" tabindex="5"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                        <button type="button" id="btnCancel" name="btnCancel" class="btn btn-grey customButton hider" title="Reset"><i class="fa fa-repeat" aria-hidden="true"></i>Reset</button>
                    </div>
                </div>
            </div>
        </form>        
        @Html.Partial("~/Areas/BEMS/Views/indicatormaster/List.cshtml")
    </div>

</div>



@section scripts
    {
    <script src="~/Scripts/ng/Controllers/QAP/QAPIndicatorMaster.js"></script>
}
