@*<script src="~/Scripts/ng/Controllers/BEMS/ScheduledWorkOrderFileUpload.js"></script>*@

@*<div role="tabpanel" class="tab-pane" id="attachment">
    <div class="content_body">
        <form class="form-horizontal" id="frmAssetRegisterAttachment">
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Scheduled Maintainance Work Order No.</label>
                        <div class="col-sm-6">
                            <div>
                                <input type="text" id="RescheduleWorkOrderNo" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Scheduled Maintenance Work Order Date / Time</label>
                        <div class="col-sm-6">
                            <div>
                                <input type="text" id="RescheduleWorkOrderDate" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr style="margin: 2em 0;">
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table id="AssetEquipmentAttachment" class="table table-fixedheader table-bordered" style="border: 1px solid rgb(222, 218, 218);">
                            <thead class="tableHeading">
                                <tr>
                                    <th width="3%" class="text-center">
                                        <a><span style="text-align: center; " class="glyphicon glyphicon-trash" title="Remove"></span></a><br>
                                        <div class="checkbox text-center">
                                            <label for="checkboxes-0">
                                                <input type="checkbox" name="AssetEquipmentAttachment" id="chk_AssetEquipmentAttachment" value="false" autocomplete="off" class="ng-pristine ng-untouched ng-valid" tabindex="0" aria-disabled="false" aria-checked="false" aria-invalid="false">
                                            </label>
                                        </div>
                                    </th>

                                    <th style="text-align: center;" width="22%">File Type<span class="red">*</span></th>
                                    <th style="text-align: center;" width="25%">File Name<span class="red">*</span></th>
                                    <th style="text-align: center;" width="25%">Attachment<span class="red">*</span></th>
                                    <th style="text-align: center;" width="25%">Download</th>
                                </tr>
                            </thead>
                            <tbody id="FileUploadTable">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="row mt20">
                <div class="col-sm-3 ">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <div>
                                <a target="_blank" href="/bems/general/Print?Gid=BA9899AC-E7C6-4322-971A-0F30F64FCFCD&FileName=ba9899ac-e7c6-4322-971a-0f30f64fcfcd_fff.jpeg&ContentType={{item.st}}" class="glyphicon glyphicon-download-alt"></a>
                                <a onclick="AddNewRowfile()" class="btn btn-primary">+</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 text-center mt20">
                    <button type="submit" id="btnfileSave" class="btn btn-primary customButton "><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>                    
                    <button type="button" id="btnfileCancel" class="btn btn-grey"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Back</button>
                </div>
            </div>
        </form>
    </div>
</div>*@










@*<div> <input id="fileUpload" type="file" class="form-control" name="AsAttachmentfile"> </div>
<input type="text" id="aaa" />
<button type="button" id="btnreg" class="btn btn-default customButton">save</button>*@

