<div role="tabpanel" class="tab-pane" id="aAFAdditionalInfo" @*style="visibility:hidden"*@>
    <div class="content_body">
        <form class="form-horizontal" id="frmAdditionalInfo" novalidate>

            <div id="divAdditionalFieldsContainer">
               
            </div>

            <div class="row">
                <div class="col-sm-12" style="color:red; visibility:hidden" id="errorMsgAdditionalInfoTab">
                    <div class="errormsgcenter">

                    </div>
                </div>
                </div>
        <br />
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button type="button" class="btn btn-primary customButton" id="btnAdditionalInfoEdit" title="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                        <button type="button" id="btnAdditionalInfoCancel"class="btn btn-grey customButton" title="Reset"><i class="fa fa-repeat" aria-hidden="true"></i>Reset</button> 
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</div>
<script src="~/Scripts/ng/Controllers/FEMS/TestingAndCommissioning/AdditionalInfo.js"></script>

