
@{
    ViewBag.Title="MonthlyKPIAdjustmentsDetail";
    Layout="~/Views/Shared/_Layout.cshtml";
        }

<div>

@functions{
    public string GetAntiForgeryToken()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }

<input id="antiForgeryToken" type="hidden" />
<input type="hidden" id="hdnPrimaryID" name="hdnPrimaryID" value="@ViewBag.CurrentID" />
<input type="hidden" id="hdnActionType" name="hdnActionType" value="@ViewBag.ActionType " />
<input type="hidden" id="hdnTimestamp" name="hdnTimestamp" value="null" />

<div class="content_header">
        <ol class="breadcrumb">
            <li><a href = "/home/dashboard" ><i class="fa fa-home"></i></a></li>
            <li>KPI</li>
            <li class="active">Monthly KPI Adjustments</li>
            <a id="HelpDescriptionLink" data-toggle="modal" title="" tabindex="0" data-target="#Description" aria-disabled="false">
                <i class="fa fa-question-circle" aria-hidden="true" style="float:right;margin-right:20px;"></i>
                <span class="badge" id="helpdescriptionid"></span>
            </a>
            </ol>
        <h4>Monthly KPI Adjustments</h4>
    </div>

    <div class="standard-tabs" id="tabs">
        <ul class="nav nav-tabs">
            @*<li class="active"><a href = "#tab-1" data-toggle="tab">Monthly KPI Adjustments</a></li>*@
        </ul>
    </div>

    <div class="content_body">
            <form class="form-horizontal" id="frmMonthlyKPIAdjustments" novalidate autocomplete="off">
                <div class="content_body">
                    <div class="row">
                        <div class="col-sm-6 ">
                            <div class="form-group">
                                <label for="txtYear" class="col-sm-6 control-label">Document No.</label>
                                <div class="col-sm-6">
                                    <div>
                                        <input type="text" id="txtDocumentNo" name="txtDocumentNo" class="form-control" disabled/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-sm-6 ">
                            <div class="form-group">
                                <label for="selService" class="col-sm-6 control-label">Facility</label>
                                <div class="col-sm-6">
                                    <div>
                                        <input type="text" id="txtFacility" name="txtFacility" class="form-control" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <div class="row">
                        <div class="col-sm-6 ">
                            <div class="form-group">
                                <label for="txtYear" class="col-sm-6 control-label">Year &amp; Month <span class="red">*</span></label>
                                <div class="col-sm-3">
                                    <div>
                                        <select id="selYear" name="selYear" class="form-control" required>
                                            <option value="null">Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div>
                                        <select id="selMonth" name="selMonth" class="form-control" required>
                                            <option value="null">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-sm-6 ">
                            <div class="form-group">
                                <label for="selService" class="col-sm-6 control-label">Service</label>
                                <div class="col-sm-6">
                                    <div>
                                        <select id="selService" name="selService" class="form-control" disabled required>
                                            <option value="null">Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        <div class="col-sm-6 ">
                            <div class="form-group">
                                <label for="selGroup" class="col-sm-6 control-label">Monthly Service Fee (<span class="spnCurrencyName"></span>)</label>
                                <div class="col-sm-6">
                                    <div>
                                        <input type="text" id="txtMonthlyServiceFee" class="form-control text-right commaSeperator" disabled required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-sm-6 ">
                            <div class="form-group">
                                <label for="selGroup" class="col-sm-6 control-label">Monthly Service Fee</label>
                                <div class="col-sm-6">
                                    <div>
                                        <input type="text" id="txtMonthlyServiceFee" class="form-control text-right" disabled required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@

                    <div class="row">
                        <div class="col-sm-12 ">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Remarks</label>
                                <div class="col-sm-9">
                                    <textarea id="txaRemarks" class="form-control" pattern="^[a-zA-Z0-9'.'&quot;,:;/\(\),\-\s\!&#64;\#\$\%\&\*]+$" name="txaRemarks" maxlength="500" style="max-width: 100%" disabled></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                    <div class="row">
                        <div class="col-sm-12" style="color:red; visibility:hidden" id="errorMsg1">
                            <div class="errormsgcenter"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text-right">
                                <button type="button" class="btn btn-primary customButton" id="btnAddFetch">Fetch</button>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="divAdjustmentResult" style="display:none;">
                        <hr style="margin: 2em 0;" />
                        <div class="col-sm-12">
                            <div class="new-row new-row-tablet new-row-mobile twelve-columns twelve-columns-tablet">
                                <div class="table table-responsive fixe">
                                    <table id="tblAdjustmentResult" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;" width="2%" rowspan="2" class="headingstyle">Indicator No.</th>
                                                <th style="text-align: center;" width="14%" rowspan="2" class="headingstyle">Indicator Description</th>
                                                <th style="text-align: center;" width="10%" colspan="3" class="headingstyle">Pre VCM </th>
                                                <th style="text-align: center;" width="10%" colspan="3" class="headingstyle">Post VCM</th>
                                            </tr>
                                            <tr>
                                                <th style="text-align: center;" width="6%" class="headingstyle">Demerit Points</th>
                                                <th style="text-align: center;" width="6%" class="headingstyle">KPI Value (<span class="spnCurrencyName"></span>)</th>
                                                <th style="text-align: center;" width="4%" class="headingstyle">KPI (%) </th>
                                                <th style="text-align: center;" width="6%" class="headingstyle">Demerit Points</th>
                                                <th style="text-align: center;" width="6%" class="headingstyle">KPI Value (<span class="spnCurrencyName"></span>)</th>
                                                <th style="text-align: center;" width="4%" class="headingstyle">KPI (%) </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="color:red; visibility:hidden" id="errorMsg2">
                            <div class="errormsgcenter"></div>
                        </div>
                    </div>
                    <div class="row mt30">
                        <div class="form-group text-center">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary customButton" id="btnSave" style="visibility:hidden" title="Submit"><i class="fa fa-floppy-o" aria-hidden="true"></i>Submit</button>
                                <button type="button" class="btn btn-primary customButton" id="btnPrint" style="visibility:hidden" title="Print"><i class="fa fa-print" aria-hidden="true"></i>Print</button>
                                <button type="button" class="btn btn-grey customButton" id="btnCancel" style="visibility:hidden" title="Reset"><i class="fa fa-repeat" aria-hidden="true"></i>Reset</button>
                            </div>
                        </div>
                    </div>
</form>
    </div>
    <div class="modal fade" data-backdrop="static" id="divPopupResult" role="dialog">

    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ng/Controllers/KPI/MonthlyKPIAdjustments/MonthlyKPIAdjustments.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ng/Controllers/KPI/MonthlyKPIAdjustments/MonthlyKPIAdjustmentsPopupGrid.js")"></script>
}