USE [UetrackFemsdbPreProd]
GO
/****** Object:  UserDefinedTableType [dbo].[udt_PorteringTransaction_Mobile]    Script Date: 20-09-2021 17:00:56 ******/
CREATE TYPE [dbo].[udt_PorteringTransaction_Mobile] AS TABLE(
	[PorteringId] [int] NULL,
	[FromCustomerId] [int] NOT NULL,
	[FromFacilityId] [int] NOT NULL,
	[FromBlockId] [int] NOT NULL,
	[FromLevelId] [int] NOT NULL,
	[FromUserAreaId] [int] NOT NULL,
	[FromUserLocationId] [int] NOT NULL,
	[RequestorId] [int] NULL,
	[RequestTypeLovId] [int] NULL,
	[MovementCategory] [int] NULL,
	[SubCategory] [int] NULL,
	[ModeOfTransport] [int] NOT NULL,
	[ToCustomerId] [int] NULL,
	[ToFacilityId] [int] NULL,
	[ToBlockId] [int] NULL,
	[ToLevelId] [int] NULL,
	[ToUserAreaId] [int] NULL,
	[ToUserLocationId] [int] NULL,
	[AssignPorterId] [int] NULL,
	[ConsignmentNo] [nvarchar](250) NULL,
	[PorteringStatus] [int] NULL,
	[ReceivedBy] [int] NULL,
	[CurrentWorkFlowId] [int] NULL,
	[Remarks] [nvarchar](500) NULL,
	[AssetId] [int] NULL,
	[PorteringDate] [datetime] NULL,
	[PorteringNo] [nvarchar](50) NULL,
	[WorkOrderId] [int] NULL,
	[SupplierLovId] [int] NULL,
	[SupplierId] [int] NULL,
	[ScanAsset] [nvarchar](100) NULL,
	[ConsignmentDate] [datetime] NULL,
	[CourierName] [nvarchar](200) NULL,
	[WFStatusApprovedDate] [datetime] NULL,
	[UserId] [int] NULL,
	[MaintenanceWorkNo] [nvarchar](500) NULL,
	[MobileGuid] [nvarchar](max) NULL,
	[SignImage] [varbinary](max) NULL
)
GO
