USE [UetrackFemsdbPreProd]
GO
/****** Object:  Table [dbo].[WorkOrderUpdate]    Script Date: 20-09-2021 16:53:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkOrderUpdate](
	[WOKRNO] [nvarchar](255) NULL,
	[ASSETNO] [nvarchar](255) NULL
) ON [PRIMARY]
GO
