USE [UetrackFemsdbPreProd]
GO
/****** Object:  Table [dbo].[AssetFems25022020]    Script Date: 20-09-2021 16:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetFems25022020](
	[ASSET NO#] [nvarchar](255) NULL,
	[ASSET CLASSIFICATION ID] [float] NULL,
	[USERLOCATIONID] [nvarchar](255) NULL,
	[ASSET DESCRIPTION] [nvarchar](255) NULL
) ON [PRIMARY]
GO
