USE [UetrackFemsdbPreProd]
GO
/****** Object:  Table [dbo].[LocationAsset02062020]    Script Date: 20-09-2021 16:53:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationAsset02062020](
	[AssetId] [nvarchar](255) NULL,
	[CustomerId] [float] NULL,
	[FacilityId] [float] NULL,
	[ServiceId] [float] NULL,
	[WorkGroupId] [float] NULL,
	[AssetClassification] [float] NULL,
	[IsAssetOld] [nvarchar](255) NULL,
	[QRCode] [nvarchar](255) NULL,
	[AssetPreRegistrationNo] [nvarchar](255) NULL,
	[AssetNo] [nvarchar](255) NULL,
	[AssetNoOld] [nvarchar](255) NULL,
	[AssetDescription] [nvarchar](255) NULL,
	[AssetTypeCodeId] [float] NULL,
	[CommissioningDate] [datetime] NULL,
	[ServiceStartDate] [datetime] NULL,
	[ServiceStartDateUTC] [datetime] NULL,
	[EffectiveDate] [datetime] NULL,
	[EffectiveDateUTC] [datetime] NULL,
	[ExpectedLifespan] [float] NULL,
	[AssetStatusLovId] [float] NULL,
	[RealTimeStatusLovId] [float] NULL,
	[OperatingHours] [float] NULL,
	[Image1FMDocumentId] [float] NULL,
	[Image2FMDocumentId] [float] NULL,
	[Image3FMDocumentId] [float] NULL,
	[Image4FMDocumentId] [float] NULL,
	[VedioFMDocumentId] [float] NULL,
	[User Area] [nvarchar](255) NULL,
	[UserAreaId] [nvarchar](255) NULL,
	[UserLocationCode] [nvarchar](255) NULL,
	[UserLocationId] [nvarchar](255) NULL,
	[Manufacturer] [float] NULL,
	[Model] [float] NULL,
	[AppliedPartTypeLovId] [float] NULL,
	[EquipmentClassLovId] [float] NULL,
	[SerialNo] [nvarchar](255) NULL,
	[RiskRating] [float] NULL,
	[MainSupplier] [nvarchar](255) NULL,
	[ManufacturingDate] [nvarchar](255) NULL,
	[ManufacturingDateUTC] [nvarchar](255) NULL,
	[SpecificationUnit] [float] NULL,
	[PowerSpecification] [float] NULL,
	[Volt] [nvarchar](255) NULL,
	[PpmPlannerId] [float] NULL,
	[RiPlannerId] [float] NULL,
	[OtherPlannerId] [float] NULL,
	[PurchaseCostRM] [float] NULL,
	[PurchaseDate] [datetime] NULL,
	[PurchaseDateUTC] [datetime] NULL,
	[WarrantyDuration] [float] NULL,
	[WarrantyStartDate] [datetime] NULL,
	[WarrantyStartDateUTC] [datetime] NULL,
	[WarrantyEndDate] [datetime] NULL,
	[WarrantyEndDateUTC] [datetime] NULL,
	[CumulativePartCost] [float] NULL,
	[CumulativeLabourCost] [float] NULL,
	[CumulativeContractCost] [float] NULL,
	[RegistrationNo] [nvarchar](255) NULL,
	[ChassisNo] [nvarchar](255) NULL,
	[EngineCapacity] [nvarchar](255) NULL,
	[FuelType] [float] NULL,
	[Specification] [float] NULL,
	[DisposalApprovalDate] [nvarchar](255) NULL,
	[DisposalApprovalDateUTC] [nvarchar](255) NULL,
	[DisposedDate] [nvarchar](255) NULL,
	[DisposedDateUTC] [nvarchar](255) NULL,
	[DisposedBy] [nvarchar](255) NULL,
	[DisposeMethod] [nvarchar](255) NULL,
	[Authorization] [float] NULL,
	[TestingandCommissioningDetId] [nvarchar](255) NULL,
	[AssetParentId] [float] NULL,
	[CreatedBy] [float] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedDateUTC] [datetime] NULL,
	[ModifiedBy] [float] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedDateUTC] [datetime] NULL,
	[Timestamp] [nvarchar](255) NULL,
	[Active] [float] NULL,
	[BuiltIn] [float] NULL,
	[GuId] [nvarchar](255) NULL,
	[AssetStandardizationId] [float] NULL,
	[NamePlateManufacturer] [nvarchar](255) NULL,
	[PowerSpecificationWatt] [float] NULL,
	[PowerSpecificationAmpere] [float] NULL,
	[PurchaseCategory] [float] NULL,
	[IsLoaner] [float] NULL,
	[TypeOfAsset] [float] NULL,
	[Image5FMDocumentId] [float] NULL,
	[Image6FMDocumentId] [float] NULL,
	[SoftwareVersion] [nvarchar](255) NULL,
	[SoftwareKey] [nvarchar](255) NULL,
	[TransferRemarks] [nvarchar](255) NULL,
	[PurchaseOrderNo] [nvarchar](255) NULL,
	[InstalledLocationId] [float] NULL,
	[TransferFacilityName] [nvarchar](255) NULL,
	[PreviousAssetNo] [nvarchar](255) NULL,
	[TransferMode] [float] NULL,
	[MainsFuseRating] [nvarchar](255) NULL,
	[OtherTransferDate] [nvarchar](255) NULL,
	[Field1] [nvarchar](255) NULL,
	[Field2] [nvarchar](255) NULL,
	[Field3] [nvarchar](255) NULL,
	[Field4] [nvarchar](255) NULL,
	[Field5] [nvarchar](255) NULL,
	[Field6] [nvarchar](255) NULL,
	[Field7] [nvarchar](255) NULL,
	[Field8] [nvarchar](255) NULL,
	[Field9] [nvarchar](255) NULL,
	[Field10] [nvarchar](255) NULL,
	[ServiceStopDate] [nvarchar](255) NULL,
	[IsMailSent] [float] NULL,
	[RunningHoursCapture] [float] NULL,
	[ContractType] [float] NULL,
	[AssetWorkingStatus] [float] NULL,
	[CompanyStaffId] [float] NULL,
	[WarrantyEmail] [nvarchar](255) NULL,
	[Asset_Name] [nvarchar](255) NULL,
	[Item_Code] [nvarchar](255) NULL,
	[Item_Description] [nvarchar](255) NULL,
	[Package_Code] [nvarchar](255) NULL,
	[Package_Description] [nvarchar](255) NULL,
	[Asset_Category] [float] NULL,
	[WorkGroup] [float] NULL,
	[EngineNo] [nvarchar](255) NULL,
	[BatchNo] [float] NULL,
	[MigrationStatus] [float] NULL
) ON [PRIMARY]
GO
