USE [UetrackFemsdbPreProd]
GO
/****** Object:  Table [dbo].[Asset25022020415]    Script Date: 20-09-2021 16:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset25022020415](
	[AssetNo] [nvarchar](255) NULL,
	[LOCATIONCODE] [nvarchar](255) NULL,
	[AREACODE] [nvarchar](255) NULL
) ON [PRIMARY]
GO
