USE [UetrackFemsdbPreProd]
GO
/****** Object:  Table [dbo].[Asset25022020749]    Script Date: 20-09-2021 16:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asset25022020749](
	[ASSET NO] [nvarchar](255) NULL,
	[ASSET CLASSIFICATION ID] [float] NULL,
	[USERLOCATIONID] [nvarchar](255) NULL,
	[ASSET DESCRIPTION] [nvarchar](255) NULL,
	[UserAreaCode] [nvarchar](255) NULL,
	[MANUFACTURER] [nvarchar](255) NULL,
	[MODEL] [nvarchar](255) NULL
) ON [PRIMARY]
GO
