USE [UetrackMasterdbPreProd]
GO
/****** Object:  UserDefinedTableType [dbo].[LLSSoiledLinenCollectionTxn_Delete]    Script Date: 20-09-2021 16:50:18 ******/
CREATE TYPE [dbo].[LLSSoiledLinenCollectionTxn_Delete] AS TABLE(
	[ID] [int] NULL
)
GO
