@{
//ViewBag.Title = "User Area Master";
//Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/JQGrid/VM/SummaryofFeeReportList.js"></script>

@*<div class="content_header">
        <ol class="breadcrumb">
            <li><a href="/home/DashBoard"><i class="fa fa-home"></i></a></li>
            <li><a href="#"> BEMS </a></li>
            <li><a href="#">Locations </a></li>
            <li class="active"> <a href="/bems/userarea"> User Area Master</a>  </li>
        </ol>
        <h4>User Area Master</h4>
    </div>*@
@*<form class="form-horizontal1">*@
<div class="content-area">
    <div class="row mb20">
        <div id="gridTable">
            <div class="col-sm-12">

                <div class="panel-heading PanelHeadingSearch"  id="advanceSearch">
                    <h4 class="panel-title text_align_left">
                        <a id="jQGridCollapse1" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapse1" aria-expanded="false" aria-controls="collapseOne"
                           class="collapsed display_block">Summary of Fee Search<i class="indicator glyphicon pull-right glyphicon-plus" id="iJQGridIndicator1"></i></a>
                    </h4>
                </div>
                <div class="col-sm-12">

                    <div id="gridContainer"></div>
                </div>
                <div class="col-sm-12 jqContainer hide_container">
                    <table id="grid"></table>
                    <div id="pager"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@*</form>*@

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ng/Controllers/VM/SummaryofFeeReport.js")"></script>
}






















































