USE [UetrackBemsdbPreProd]
GO
/****** Object:  StoredProcedure [dbo].[uspFM_ARPDetails_GetAll]    Script Date: 20-09-2021 17:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
/*========================================================================================================  
Application Name : UETrack-BEMS                
Version    : 1.0  
Procedure Name  : [uspFM_ARPDetails_GetAll]  
Description   : Get the [uspFM_ARPDetails_GetAll] ARP details  
Authors    : PRANAY KUMAR  
Date    : 21-May-2019  
-----------------------------------------------------------------------------------------------------------  
  
Unit Test:  
EXEC uspFM_BERApplicationTxnBER2_GetAll  @PageSize=10,@PageIndex=0,@StrCondition='AssetNo=''''',@StrSorting=null  
EXEC uspFM_ARPDetails_GetAll  @PageSize=10,@PageIndex=0,@StrCondition='AssetNo=''''',@StrSorting=null,@BERno='BER/GEM/201811/000006' 
  
-----------------------------------------------------------------------------------------------------------  
Version History   
-----:------------:---------------------------------------------------------------------------------------  
Init : Date       : Details  
========================================================================================================*/  
  
CREATE PROCEDURE [dbo].[uspFM_ARPDetails_GetAll]  
  
 @PageSize  INT,  
 @PageIndex  INT,  
 @StrCondition NVARCHAR(MAX) = NULL,  
 @StrSorting  NVARCHAR(MAX) = NULL,
 @BERno  NVARCHAR(50) = NULL    
  
AS   
  
BEGIN TRY  
  
-- Paramter Validation   
  
 SET NOCOUNT ON;   
 SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;  
  
-- Declaration  
 DECLARE @countQry NVARCHAR(MAX);  
 DECLARE @qry  NVARCHAR(MAX);  
 DECLARE @condition VARCHAR(MAX);  
 DECLARE @TotalRecords INT;  
  
-- Default Values  
  
 SET @PageIndex = @PageIndex+1  /* This is for JQ grid implementation */  
  
-- Execution  
  
  
SET @countQry = 'SELECT @Total = COUNT(1)  FROM EngARP_Details   
INNER JOIN   
MstLocationUserArea on EngARP_Details.DepartmentNameID=MstLocationUserArea.UserAreaId   
INNER JOIN MstLocationUserLocation on EngARP_Details.LocationNameID=MstLocationUserLocation.UserLocationId '   
    + '  ' + CASE WHEN ISNULL(@strCondition,'' ) = '' THEN '' ELSE ' AND '+ REPLACE(ISNULL(@strCondition,''),'WHERE',' AND ')  END    
  
print @countQry;  
  
EXECUTE sp_executesql @countQry, N' @Total INT OUTPUT', @Total = @TotalRecords OUTPUT  
--select @TotalRecords as Counts  
  
SET @qry = 'SELECT [ARPID],ConditionAppraisalNo,AssetNo,AssetTypeDescription,MstLocationUserArea.UserAreaName as DepartmentName,MstLocationUserLocation.UserLocationName as LocationName ,@TotalRecords AS TotalRecords FROM EngARP_Details   
where BERno=@BERno
INNER JOIN   
MstLocationUserArea on EngARP_Details.DepartmentNameID=MstLocationUserArea.UserAreaId   
INNER JOIN MstLocationUserLocation on EngARP_Details.LocationNameID=MstLocationUserLocation.UserLocationId '   
   + '  ' + CASE WHEN ISNULL(@strCondition,'' ) = '' THEN '' ELSE ' and '+ REPLACE(ISNULL(@strCondition,''),'where',' AND ')  END    
   + ' ' + ' ORDER BY ' +  ISNULL(@strSorting,'[EngARP_Details].ModifiedDateUTC DESC')  
   + ' OFFSET '  + CAST((@PageSize *  (@PageIndex-1)) AS VARCHAR(500)) + ' ROWS FETCH NEXT '  + CAST(@PageSize AS VARCHAR(100)) + ' ROWS ONLY ' ;  
print @qry;  
EXECUTE sp_executesql @qry, N' @TotalRecords INT', @TotalRecords = @TotalRecords  
   
END TRY  
  
BEGIN CATCH  
  
 INSERT INTO ErrorLog(  
    Spname,  
    ErrorMessage,  
    createddate)  
 VALUES(  OBJECT_NAME(@@PROCID),  
    'Error_line: '+CONVERT(VARCHAR(10), error_line())+' - '+error_message(),  
    getdate()  
     )  
  
END CATCH
GO
