USE [UetrackBemsdbPreProd]
GO
/****** Object:  StoredProcedure [dbo].[DISPLEY_MULTIPLE_PAGES_REPORT]    Script Date: 20-09-2021 17:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DISPLEY_MULTIPLE_PAGES_REPORT]
AS BEGIN

--exec DISPLEY_MULTIPLE_PAGES_REPORT

SELECT  VVT.SNFDocumentno, VVT.SnfDate, VVT.PurchaseProjectCost, VVT.VariationDateUTC, EA.AssetNo, 
EA.AssetPreRegistrationNo, EA.AssetDescription, MLF.FacilityName, MLF.FacilityCode
, VVT.FACILITYID, VVT.AssetId, EA.ServiceId, EA.CustomerId
FROM VMVARIATIONTXN AS VVT
INNER JOIN ENGASSET AS EA on EA.ASSETID = VVT.ASSETID 
INNER JOIN MSTLOCATIONFACILITY AS MLF ON MLF.FACILITYID = VVT.FACILITYID
ORDER BY EA.AssetNo, VVT.SnfDate

END
GO
