USE [UetrackBemsdbPreProd]
GO
/****** Object:  StoredProcedure [dbo].[uspFM_EngMaintenanceWorkOrderTxn_GetAll]    Script Date: 20-09-2021 17:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
      
/*========================================================================================================      
Application Name : UETrack-BEMS                    
Version    : 1.0      
Procedure Name  : uspFM_EngMaintenanceWorkOrderTxn_GetAll      
Description   : Get the Asset Standardization details      
Authors    : Dhilip V      
Date    : 16-May-2018      
-----------------------------------------------------------------------------------------------------------      
      
Unit Test:      
EXEC uspFM_EngMaintenanceWorkOrderTxn_GetAll  @PageSize=100,@PageIndex=0,@StrCondition='WorkOrderCategoryType=''PPM''',@StrSorting=null,@pUserId=19,@pAccessLevel=0      
EXEC uspFM_EngMaintenanceWorkOrderTxn_GetAll  @PageSize=100,@PageIndex=0,@StrCondition='TypeOfWorkOrderGrid=''PPM''',@StrSorting=null,@pUserId=37,@pAccessLevel=4      
      
-----------------------------------------------------------------------------------------------------------      
Version History       
-----:------------:---------------------------------------------------------------------------------------      
Init : Date       : Details      
========================================================================================================*/      
      
CREATE PROCEDURE [dbo].[uspFM_EngMaintenanceWorkOrderTxn_GetAll]      
      
 @PageSize  INT,      
 @PageIndex  INT,      
 @StrCondition NVARCHAR(MAX) = NULL,      
 @StrSorting  NVARCHAR(MAX) = NULL,      
 @pUserId  INT     = NULL,      
 @pAccessLevel INT     = NULL      
      
AS       
      
BEGIN TRY      
      
-- Paramter Validation       
      
 SET NOCOUNT ON;       
 SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;      
      
-- Declaration      
 DECLARE @countQry NVARCHAR(MAX);      
 DECLARE @qry  NVARCHAR(MAX);      
 DECLARE @condition VARCHAR(MAX);      
 DECLARE @TotalRecords INT;      
      
-- Default Values      
      
 SET @PageIndex = @PageIndex+1  /* This is for JQ grid implementation */      
      
-- Execution      
      
select @StrSorting =   case when @StrSorting like '%ModifiedDateUTC%' then 'TargetDateTime asc'  else  @StrSorting end       
      
IF(ISNULL(@pAccessLevel,0)=4)      
       
 BEGIN      
      
  SET @countQry = 'SELECT @Total = COUNT(1)      
      FROM [V_EngMaintenanceWorkOrderTxn]      
      WHERE 1 = 1  AND ' + '(UserRegistrationId = ' + cast(@pUserId as nvarchar(10))       
      + '  OR (UserRegistrationId IS NULL AND TandCSupplier = ' + cast(@pUserId as nvarchar(10))  + ')) '       
      + CASE WHEN ISNULL(@strCondition,'' ) = '' THEN '' ELSE ' AND '+ REPLACE(ISNULL(@strCondition,''),'WHERE',' AND ')  END        
        
  print @countQry;      
        
  EXECUTE sp_executesql @countQry, N' @Total INT OUTPUT', @Total = @TotalRecords OUTPUT      
  --select @TotalRecords as Counts      
        
  SET @qry = 'SELECT WorkOrderId,      
       MaintenanceWorkNo,      
       MaintenanceWorkDateTime,      
       AssetNo,      
       AssetDescription,      
       UserArea,      
       TypeOfWorkOrderGrid,   
       WorkGroupCode,      
       TargetDateTime,      
       WorkOrderPriority,      
       WorkOrderStatusGrid,      
       MaintenanceDetails,      
       CountingDays,      
       LocationName ,      
       Assignee,      
    ResponseDateTime,    
    ResponseDuration,    
    HandOverDate,    
    AssetClassificationDescription,  
 WorkOrderCategoryType,  
       @TotalRecords AS TotalRecords      
     FROM [V_EngMaintenanceWorkOrderTxn]      
     WHERE 1 = 1  AND ' + '(UserRegistrationId = ' + cast(@pUserId as nvarchar(10))        
     + '  OR (UserRegistrationId IS NULL AND TandCSupplier = ' + cast(@pUserId as nvarchar(10))  + ')) '       
     + CASE WHEN ISNULL(@strCondition,'' ) = '' THEN '' ELSE ' and '+ REPLACE(ISNULL(@strCondition,''),'where',' AND ')  END        
     + ' ' + ' ORDER BY ' +  ISNULL(@strSorting,'[V_EngMaintenanceWorkOrderTxn].TargetDateTime asc')      
     + ' OFFSET '  + CAST((@PageSize *  (@PageIndex-1)) AS VARCHAR(500)) + ' ROWS FETCH NEXT '  + CAST(@PageSize AS VARCHAR(100)) + ' ROWS ONLY ' ;      
  print @qry;      
  EXECUTE sp_executesql @qry, N' @TotalRecords INT', @TotalRecords = @TotalRecords      
      
 END      
      
 ELSE      
        
  BEGIN      
      
      
   SET @countQry = 'SELECT @Total = COUNT(1)      
       FROM [V_EngMaintenanceWorkOrderTxn]      
       WHERE 1 = 1 '       
       + '  ' + CASE WHEN ISNULL(@strCondition,'' ) = '' THEN '' ELSE ' AND '+ REPLACE(ISNULL(@strCondition,''),'WHERE',' AND ')  END        
         
   print @countQry;      
         
   EXECUTE sp_executesql @countQry, N' @Total INT OUTPUT', @Total = @TotalRecords OUTPUT      
   --select @TotalRecords as Counts      
         
   SET @qry = 'SELECT WorkOrderId,      
        MaintenanceWorkNo,      
        MaintenanceWorkDateTime,      
        AssetNo,      
        AssetDescription,      
        UserArea,      
        TypeOfWorkOrderGrid,   
        WorkGroupCode,      
        TargetDateTime,      
        WorkOrderPriority,      
        WorkOrderStatusGrid,      
        MaintenanceDetails,              
        CountingDays,      
        LocationName,      
        Assignee,      
  ResponseDateTime,    
  ResponseDuration,    
  HandOverDate,    
  AssetClassificationDescription,  
  WorkOrderCategoryType,  
        @TotalRecords AS TotalRecords      
      FROM [V_EngMaintenanceWorkOrderTxn]      
      WHERE 1 = 1 '       
      + '  ' + CASE WHEN ISNULL(@strCondition,'' ) = '' THEN '' ELSE ' and '+ REPLACE(ISNULL(@strCondition,''),'where',' AND ')  END        
      + ' ' + ' ORDER BY ' +  ISNULL(@strSorting,'[V_EngMaintenanceWorkOrderTxn].TargetDateTime asc')      
      + ' OFFSET '  + CAST((@PageSize *  (@PageIndex-1)) AS VARCHAR(500)) + ' ROWS FETCH NEXT '  + CAST(@PageSize AS VARCHAR(100)) + ' ROWS ONLY ' ;      
   print @qry;      
   EXECUTE sp_executesql @qry, N' @TotalRecords INT', @TotalRecords = @TotalRecords      
  END      
         
END TRY      
      
BEGIN CATCH      
      
 INSERT INTO ErrorLog(      
    Spname,      
    ErrorMessage,      
    createddate)      
 VALUES(  OBJECT_NAME(@@PROCID),      
    'Error_line: '+CONVERT(VARCHAR(10), error_line())+' - '+error_message(),      
    getdate()      
     );      
 THROW;      
END CATCH
GO
