USE [UetrackBemsdbPreProd]
GO
/****** Object:  StoredProcedure [dbo].[ASIS_DS_GetAssetGrouping_PPM_New]    Script Date: 20-09-2021 17:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Exec GetAssetGrouping_PPM
CREATE  Procedure [dbo].[ASIS_DS_GetAssetGrouping_PPM_New]
As
BEGIN
SET NOCOUNT ON  
SELECT '' AS Lov_Label 
SET NOCOUNT OFF                                           
END
GO
