USE [UetrackBemsdbPreProd]
GO
/****** Object:  StoredProcedure [dbo].[DeductionFigure_Report]    Script Date: 20-09-2021 17:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC DeductionFigure_Report

CREATE PROCEDURE [dbo].[DeductionFigure_Report]

AS

BEGIN 


SELECT * FROM DeductionFigure


END

GO
