USE [UetrackBemsdbPreProd]
GO
/****** Object:  StoredProcedure [dbo].[uspFM_MstCustomer_Export]    Script Date: 20-09-2021 17:05:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*========================================================================================================
Application Name	: UETrack-BEMS              
Version				: 1.0
Procedure Name		: uspFM_MstCustomer_Export
Description			: Get all customer details
Authors				: Dhilip V
Date				: 24-April-2018
-----------------------------------------------------------------------------------------------------------

Unit Test:
EXEC uspFM_MstCustomer_Export  @StrCondition='',@StrSorting=null

-----------------------------------------------------------------------------------------------------------
Version History 
-----:------------:---------------------------------------------------------------------------------------
Init : Date       : Details
========================================================================================================*/

CREATE PROCEDURE [dbo].[uspFM_MstCustomer_Export]

	@StrCondition	NVARCHAR(MAX) = NULL,
	@StrSorting		NVARCHAR(MAX) = NULL

AS 

BEGIN TRY

-- Paramter Validation 

	SET NOCOUNT ON; 
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

-- Declaration
	DECLARE @countQry		NVARCHAR(MAX);
	DECLARE @qry			NVARCHAR(MAX);
	DECLARE @condition		VARCHAR(MAX);
	DECLARE @TotalRecords	INT;

-- Default Values


-- Execution


SET @qry = 'SELECT	CustomerCode,
					CustomerName	AS	Customer,
					Address			AS	[Address 1],
					Address2		AS	[Address 2],
					PostCode,
					State,
					Country,
					Latitude,
					Longitude,
					PhoneNumber as [PhoneNo.],
					FaxNumber as [FaxNo.],
					Remarks,
				--	ActiveFromDate	AS	[ActiveFrom],
				--	ActiveToDate	AS	[ActiveTo],
					ContractPeriodInYears,
					
					Name,
					Designation,
					ContactNo AS [ContactNo.],
					Email
			FROM [V_MstCustomer_Export]
			WHERE 1 = 1 ' 
			+ '  ' + CASE WHEN ISNULL(@strCondition,'' ) = '' THEN '' ELSE ' and '+ REPLACE(ISNULL(@strCondition,''),'where',' AND ')  END  
			+ ' ' + ' ORDER BY ' +  ISNULL(@strSorting,'[V_MstCustomer_Export].ModifiedDateUTC DESC')
	
PRINT @qry;

EXECUTE sp_executesql @qry, N' @TotalRecords INT', @TotalRecords = @TotalRecords
	
END TRY

BEGIN CATCH

	INSERT INTO ErrorLog(
				Spname,
				ErrorMessage,
				createddate)
	VALUES(		OBJECT_NAME(@@PROCID),
				'Error_line: '+CONVERT(VARCHAR(10),	ERROR_LINE())+' - '+ERROR_MESSAGE(),
				GETDATE()
		   )

END CATCH
GO
