
@{
    ViewBag.Title = "Summary Report On Variations-BEMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    @functions{
        public string GetAntiForgeryToken()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }

    <input id="antiForgeryToken" type="hidden" />
    <input type="hidden" id="primaryID" name="primaryID" value="@ViewBag.Id" />
    <input type="hidden" id="ActionType" name="ActionType" value="@ViewBag.ActionType" />
    <input type="hidden" id="Timestamp" name="Timestamp" value="null" />

    <div class="content_header">
        <ol class="breadcrumb">
            <li>
                <a href="Dashboard.html"><i class="fa fa-home"></i></a>
            </li>
            <li><a href="#">Reports</a></li>
            <li class="active"><a href="#">Summary Report on Variations</a></li>

        </ol>
        <h4>@ViewBag.ActionType Summary Report on Variations</h4>
    </div>
    <div class="standard-tabs" id="tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-1" data-toggle="tab">Summary ReportoOn Variations</a></li>
        </ul>
    </div>
    <!-- Content Header Ends -->
    <!-- Contents goes here -->

    <div class="content_body">
        <form class="form-horizontal" id="VMSummaryFormId" autocomplete="off">

            <div class="row">
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">From Year<span style="color:red"> *</span></label>
                        <div class="col-sm-6">
                            <div>
                                <select class="form-control" id="VOVFromyear" required>
                                    <option value="null">Select</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">From Month<span style="color:red"> *</span></label>
                        <div class="col-sm-6">
                            <div>
                                <select class="form-control" id="VOVFrommonth" required>
                                    <option value="null">Select</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">To Year</label>
                        <div class="col-sm-6">
                            <div>
                                <select class="form-control" id="VOVToyear">
                                    <option value="null">Select</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">To Month</label>
                        <div class="col-sm-6">
                            <div>
                                <select class="form-control" id="VOVTomonth">
                                    <option value="null">Select</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div id="errorMsg" class="errormsgcenter" style="color:red;visibility:hidden;text-align:center;" aria-hidden="true">
            </div>
            

            <div class="form-group mt20">
                <div class="col-sm-12 text-right">
                    <input type="button" id="btnSummaryRptFetch" name="btnFetch" class="btn btn-primary" onclick="getSummaryReport()" title="Fetch" value="Fetch">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr style="margin: 2em 0;">
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div>
                            <iframe id="ReportFrame" frameborder="0" src="" style="width:100%;height:550px;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt20">
                <div class="col-sm-12 text-right">
                    <button type="button" id="btnSummaryRptCancel" name="btnCancel" class="btn btn-grey customButton" style="visibility:hidden" title="Reset"><i class="fa fa-repeat" aria-hidden="true"></i>Reset</button>
                </div>
            </div>
           
        </form>
    </div>
</div>


@section scripts
    {
<script  type="text/javascript"  src="~/Scripts/ng/Controllers/Report/SummaryReportOnVariations.js"></script>
    
}

