USE [UetrackMasterdbPreProd]
GO
/****** Object:  Table [dbo].[CLS_CLS_PeriodicWorkRecord]    Script Date: 20-09-2021 16:25:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLS_CLS_PeriodicWorkRecord](
	[PeriodicId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[FacilityId] [int] NULL,
	[DocumentNo] [varchar](30) NULL,
	[Year] [int] NULL,
	[Month] [varchar](30) NULL,
 CONSTRAINT [PK_PeriodicId] PRIMARY KEY CLUSTERED 
(
	[PeriodicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
