USE [UetrackMasterdbPreProd]
GO
/****** Object:  Table [dbo].[MstLocationUserLocation08052021]    Script Date: 20-09-2021 16:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MstLocationUserLocation08052021](
	[UserLocationId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[FacilityId] [int] NOT NULL,
	[BlockId] [int] NOT NULL,
	[LevelId] [int] NOT NULL,
	[UserAreaId] [int] NOT NULL,
	[Previouscode] [nvarchar](200) NULL,
	[Previousname] [nvarchar](200) NULL,
	[UserLocationCode] [nvarchar](50) NOT NULL,
	[UserLocationName] [nvarchar](100) NOT NULL,
	[ActiveFromDate] [datetime] NOT NULL,
	[ActiveFromDateUTC] [datetime] NOT NULL,
	[ActiveToDate] [datetime] NULL,
	[ActiveToDateUTC] [datetime] NULL,
	[AuthorizedUserId] [int] NOT NULL,
	[Remarks] [nvarchar](500) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedDateUTC] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedDateUTC] [datetime] NULL,
	[Timestamp] [timestamp] NOT NULL,
	[Active] [bit] NOT NULL,
	[BuiltIn] [bit] NOT NULL,
	[GuId] [uniqueidentifier] NOT NULL,
	[QRCode] [varbinary](max) NULL,
	[CompanyStaffId] [int] NULL,
	[MigratedFlag] [int] NULL,
	[MigratedDAte] [datetime] NULL,
	[Statuslocation_CLS] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
