USE [UetrackMasterdbPreProd]
GO
/****** Object:  Table [dbo].[CLSApprovedChemicalListMst]    Script Date: 20-09-2021 16:25:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLSApprovedChemicalListMst](
	[ApprovedChemicalId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[FacilityId] [int] NOT NULL,
	[Category] [int] NOT NULL,
	[KKMNo] [nvarchar](100) NOT NULL,
	[ChemicalName] [nvarchar](75) NOT NULL,
	[AreaOfApplication] [int] NOT NULL,
	[Properties] [nvarchar](4000) NOT NULL,
	[Status] [int] NOT NULL,
	[EffectiveFrom] [datetime] NULL,
	[EffectiveTo] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedDateUTC] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedDateUTC] [datetime] NULL,
	[Timestamp] [timestamp] NULL,
	[GreenCertified] [bit] NULL,
 CONSTRAINT [PK_CLSApprovedChemicalListMst] PRIMARY KEY CLUSTERED 
(
	[ApprovedChemicalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
