USE [UetrackMasterdbPreProd]
GO
/****** Object:  Table [dbo].[LLSLinenItemDetailsMst]    Script Date: 20-09-2021 16:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LLSLinenItemDetailsMst](
	[LinenItemId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[FacilityId] [int] NOT NULL,
	[LinenCode] [nvarchar](25) NULL,
	[LinenDescription] [nvarchar](255) NOT NULL,
	[UOM] [int] NULL,
	[Status] [int] NOT NULL,
	[Material] [int] NULL,
	[EffectiveDate] [datetime] NOT NULL,
	[Size] [nvarchar](150) NOT NULL,
	[Colour] [int] NOT NULL,
	[IdentificationMark] [nvarchar](150) NULL,
	[Standard] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedDateUTC] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedDateUTC] [datetime] NULL,
	[Timestamp] [timestamp] NOT NULL,
	[IsDeleted] [bit] NULL,
	[LinenPrice] [numeric](18, 2) NULL,
 CONSTRAINT [PK_LLSLinenItemDetailsMst] PRIMARY KEY CLUSTERED 
(
	[LinenItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
