USE [UetrackMasterdbPreProd]
GO
/****** Object:  Table [dbo].[Mapping22052020]    Script Date: 20-09-2021 16:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mapping22052020](
	[Master_UserRegistrationId] [float] NULL,
	[BEMS] [float] NULL,
	[FEMS] [float] NULL
) ON [PRIMARY]
GO
