USE [UetrackMasterdbPreProd]
GO
/****** Object:  Table [dbo].[UEM_users_U2]    Script Date: 20-09-2021 16:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UEM_users_U2](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL
) ON [PRIMARY]
GO
