USE [UetrackMasterdbPreProd]
GO
/****** Object:  Table [dbo].[EngStockUpdateRegisterTxn]    Script Date: 20-09-2021 16:25:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EngStockUpdateRegisterTxn](
	[StockUpdateId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[FacilityId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[StockUpdateNo] [nvarchar](50) NOT NULL,
	[Date] [datetime] NOT NULL,
	[DateUTC] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedDateUTC] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedDateUTC] [datetime] NULL,
	[Timestamp] [timestamp] NOT NULL,
	[GuId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_EngStockUpdateRegisterTxn] PRIMARY KEY CLUSTERED 
(
	[StockUpdateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EngStockUpdateRegisterTxn] ADD  CONSTRAINT [DF_EngStockUpdateRegisterTxn_GuId]  DEFAULT (newid()) FOR [GuId]
GO
ALTER TABLE [dbo].[EngStockUpdateRegisterTxn]  WITH CHECK ADD  CONSTRAINT [FK_EngStockUpdateRegisterTxn_MstCustomer_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[MstCustomer] ([CustomerId])
GO
ALTER TABLE [dbo].[EngStockUpdateRegisterTxn] CHECK CONSTRAINT [FK_EngStockUpdateRegisterTxn_MstCustomer_CustomerId]
GO
ALTER TABLE [dbo].[EngStockUpdateRegisterTxn]  WITH CHECK ADD  CONSTRAINT [FK_EngStockUpdateRegisterTxn_MstLocationFacility_FacilityId] FOREIGN KEY([FacilityId])
REFERENCES [dbo].[MstLocationFacility] ([FacilityId])
GO
ALTER TABLE [dbo].[EngStockUpdateRegisterTxn] CHECK CONSTRAINT [FK_EngStockUpdateRegisterTxn_MstLocationFacility_FacilityId]
GO
ALTER TABLE [dbo].[EngStockUpdateRegisterTxn]  WITH CHECK ADD  CONSTRAINT [FK_EngStockUpdateRegisterTxn_MstService_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[MstService] ([ServiceId])
GO
ALTER TABLE [dbo].[EngStockUpdateRegisterTxn] CHECK CONSTRAINT [FK_EngStockUpdateRegisterTxn_MstService_ServiceId]
GO
