USE [UetrackMasterdbPreProd]
GO
/****** Object:  Table [dbo].[UserRoleMaster]    Script Date: 20-09-2021 16:25:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleMaster](
	[StaffName] [nvarchar](255) NULL,
	[User Role] [nvarchar](255) NULL
) ON [PRIMARY]
GO
