
<div role="tabpanel" class="tab-pane" id="assetProcessStatus">
    <div class="content_body">
        <form class="form-horizontal" id="frmAssetProcessStatus">
            
            @*<div class="row">
                <div class="col-sm-12" style="text-align:right">
                   *<div style="font-weight:bold; color:black; margin-bottom:15px;" id="divAssetAuthorizeStatus" class="AssetAuthorizeStatus"></div>
                    <div style="font-weight:bold; color:black; margin-bottom:15px; margin-top: 17px;" class="AssetAuthorizeStatus pull-right"></div>
                </div>
            </div>*@
            
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label for="AssetNo" class="col-sm-6 control-label">Asset No.</label>
                        <div class="col-sm-6">
                            <div>
                                <input type="text" disabled class="form-control txtARAssetNo" id="txtARAssetNo">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label for="Description" class="col-sm-6 control-label">Asset Type Description</label>
                        <div class="col-sm-6">
                            <div>
                                <input type="text" disabled class="form-control txtARAssetDescription" id="txtARprocessAssetDescription">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label for="TypeCode" class="col-sm-6 control-label">Asset Type Code</label>
                        <div class="col-sm-6">
                            <div>
                                <input type="text" disabled class="form-control txtARTypeCode">
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-sm-6 ">
                    <div class="form-group">
                        <label for="Service" class="col-sm-6 control-label">Service</label>
                        <div class="col-sm-6">
                            <div>
                                <select disabled class="form-control selARServiceId">
                                    <option value="null">Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>



            <div ng-view="" class="row">
                <div class="col-sm-12">
                    <hr style="margin: 2em 0;">
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table id="AssetProcessStatus" class="table table-fixedheader table-bordered" style="border: 1px solid rgb(222, 218, 218);">
                            <thead class="tableHeading">
                                <tr>
                                    <th style="text-align: center;" width="30%">Document No.</th>
                                    <th style="text-align: center;" width="30%">Process Name</th>
                                    <th style="text-align: center;" width="20%">Done Date</th>
                                    <th style="text-align: center;" width="20%">Process Status</th>
                                </tr>
                            </thead>
                            <tbody id="assetprocessstatustbody_id">

                               
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <div class="col-sm-12 errMsg " style="color:red;" aria-hidden="true">
                <!-- ngIf: RescheduleErrorList.length > 0 -->
            </div>


        
            <div class="form-group">
                <div class="col-sm-12 text-center mt20">
                </div>
            </div>
        </form>
    </div>
</div>
<script src="~/Scripts/ng/Controllers/BEMS/AssetRegisterProcessingStatusTab.js"></script> 