<script src="~/Scripts/ng/common/common.js"></script>
<div class="row">
    <form class="form-horizontal" id="CommonHistory" autocomplete="off">
        <div class="col-sm-12">
            <div class="table-responsive">
                <div id="showData"></div>
            </div>
            <div id="divCommonPagination" style="margin-top:15px;"></div>

            </div>
    </form>
</div>
