USE [UetrackBemsdbPreProd]
GO
/****** Object:  UserDefinedTableType [dbo].[udt_EngAssetVmVariationTxn]    Script Date: 20-09-2021 17:09:19 ******/
CREATE TYPE [dbo].[udt_EngAssetVmVariationTxn] AS TABLE(
	[VariationId] [int] NULL,
	[CustomerId] [int] NULL,
	[FacilityId] [int] NULL,
	[ServiceId] [int] NULL,
	[SNFDocumentNo] [nvarchar](50) NULL,
	[SnfDate] [datetime] NULL,
	[AssetId] [int] NULL,
	[AssetClassification] [int] NULL,
	[VariationStatus] [int] NULL,
	[PurchaseProjectCost] [numeric](24, 2) NULL,
	[VariationDate] [datetime] NULL,
	[VariationDateUTC] [datetime] NULL,
	[StartServiceDate] [datetime] NULL,
	[StartServiceDateUTC] [datetime] NULL,
	[ServiceStopDate] [datetime] NULL,
	[ServiceStopDateUTC] [datetime] NULL,
	[CommissioningDate] [datetime] NULL,
	[CommissioningDateUTC] [datetime] NULL,
	[WarrantyDurationMonth] [int] NULL,
	[WarrantyStartDate] [datetime] NULL,
	[WarrantyStartDateUTC] [datetime] NULL,
	[WarrantyEndDate] [datetime] NULL,
	[WarrantyEndDateUTC] [datetime] NULL,
	[VariationApprovedStatus] [int] NULL,
	[Remarks] [nvarchar](500) NULL,
	[AuthorizedStatus] [bit] NULL,
	[VariationRaisedDate] [datetime] NULL,
	[VariationRaisedDateUTC] [datetime] NULL,
	[VariationWFStatus] [int] NULL,
	[PurchaseDate] [datetime] NULL,
	[PurchaseDateUTC] [datetime] NULL,
	[VariationPurchaseCost] [numeric](24, 2) NULL,
	[ContractCost] [numeric](8, 2) NULL,
	[ContractLpoNo] [nvarchar](100) NULL,
	[MainSupplierCode] [nvarchar](25) NULL,
	[MainSupplierName] [nvarchar](75) NULL,
	[UserId] [int] NULL
)
GO
