<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UETrack - 404 Page Not Found</title>
    <!-- Fevicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body role="document">
    <!-- Fixed navbar -->
    <nav id="main-navbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="menu.html">
                    <img src="images/MOHLion.png" alt="Ministry of Health" />
                    <img src="images/logo.png" alt="Ministry of Health" />
                    <h1>UETrack</h1>
                    <p>Asset and Services Information system</p>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <a href="login.html" class="btn btn-lg btn-primary pull-right">Login</a>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container theme-showcase" role="main">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron text-center">
            <img src="images/404_error.png" alt="Page Not Found" width="" class="error_logo">
            <h1 class="error_title"><span>404</span><br>PAGE NOT FOUND</h1>
            <p class="error_cont">Sorry, the page you have requested has either been moved or does not exist.</p>
            <p class="error_cont"><a href="login.html">&lt; Go Back</a></p>
        </div>

    </div> <!-- /container -->

    <footer id="footer">
        <div class="container">
            <p>&copy;  2015. UETrack - Ministry of Health</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
