
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @functions{
        public string GetAntiForgeryToken()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }
    <input type="hidden" id="primaryID" name="primaryID" value="@ViewBag.CurrentID" />
    <input type="hidden" id="ActionType" name="ActionType" value="@ViewBag.ActionType" />
   
    <div class="content_header">
        <ol class="breadcrumb">
            <li>
                <a href="/home/dashboard"><i class="fa fa-home"></i></a>
            </li>
            <li>HWMS</li>
            <li>Transaction</li>
            <li class="active">Records of Recyclable Waste (RRW)</li>
            <a id="HelpDescriptionLink" data-toggle="modal" title="" tabindex="0" data-target="#Description" aria-disabled="false">
                <i class="fa fa-question-circle" aria-hidden="true" style="float:right;margin-right:20px;"></i>
                <span class="badge" id="helpdescriptionid"></span>
            </a>
        </ol>
        <h4></h4>
        @*<h4><span id="spnActionType">Add</span> Block</h4>*@
    </div>
    <div class="standard-tabs" id="tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#formppmplanner" data-toggle="tab">Records Of Recyclable Waste (RRW)</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="formppmplanner">
            <form id="formRecyclableWasteRecords" name="formRecyclableWasteRecords" class="form-horizontal">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">RRW No.<span style="color:red">*</span></label>
                            <div>
                                <div class="col-sm-6" id="RRWNo">
                                    <input type="text" required class="form-control" id="txtRRWNo" autocomplete="off" name="RRWN0" maxlength="25" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Date / Time<span style="color:red">*</span></label>
                            <div>
                                <div class="col-sm-6" id="Date">
                                    <input type="datetime-local" required class="form-control" id="txtDateTime" autocomplete="off" name="DateTime" maxlength="25" tabindex="3" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Total Weight (Kg)<span style="color:red">*</span></label>
                            <div>
                                <div class="col-sm-6" id="TotalWeight">
                                    <input type="text" required class="form-control" placeholder="" id="txtTotalWeight" autocomplete="off" name="TotalWeight" maxlength="25" tabindex="3" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Method Of Disposal<span style="color:red">*</span></label>
                            <div>
                                <div class="col-sm-6" id="MethodOfDisposal">
                                    <select type="text" required class="form-control" id="ddlMethodOfDisposal" autocomplete="off" name="MethodOfDisposal" maxlength="25"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">CSW Representative<span style="color:red">*</span></label>
                            <div>
                                <div class="col-sm-6" id="CSWRepresentative">
                                    <input type="text" required class="form-control" placeholder="Please Select" id="txtCSWRepresentative" autocomplete="off" name="CSWRepresentative" maxlength="25" tabindex="3" />
                                    <input type="hidden" id="hdnCSWRepresentativeId" />
                                    <div class="col-sm-12" id="divFetch5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">CSW Representative Designation</label>
                            <div>
                                <div class="col-sm-6" id="CSWRepresentativeDesignation">
                                    <input type="text" class="form-control" disabled="disabled" id="txtCSWRepresentativeDesignation" autocomplete="off" name="CSWRepresentativeDesignation" maxlength="25" tabindex="3" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Hospital Representative<span style="color:red">*</span></label>
                            <div>
                                <div class="col-sm-6" id="HospitalRepresentative">
                                    <input type="text" required class="form-control" placeholder="Please Select" id="txtHospitalRepresentative" autocomplete="off" name="HospitalRepresentative" maxlength="25" tabindex="3" />
                                    <input type="hidden" id="hdnHospitalrepresentativeId" />
                                    <div class="col-sm-12" id="divFetch4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Hospital Representative Designation</label>
                            <div>
                                <div class="col-sm-6" id="HospitalRepresentativeDesignation">
                                    <input type="text" class="form-control" disabled="disabled" id="txtHospitalRepresentativeDesignation" autocomplete="off" name="HospitalRepresentativeDesignation" maxlength="25" tabindex="3" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Vendor Code<span style="color:red">*</span></label>
                            <div>
								<div class="col-sm-6" id="VendorCode">
									<input type="text" required class="form-control" placeholder="Please Select" id="txtVendorCode" autocomplete="off" name="VendorCode" maxlength="25" tabindex="3" />
									<input type="hidden" id="hdnContractorId" />
									<div class="col-sm-12" id="divFetch6"></div>
								</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Vendor Name</label>
                            <div>
                                <div class="col-sm-6" id="VendorName">
                                    <input type="text" class="form-control" disabled  id="txtVendorName" autocomplete="off" name="VendorName" maxlength="25" tabindex="3" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Unit Rate<span style="color:red">*</span></label>
                            <div>
                                <div class="col-sm-6" id="UnitRate">
                                    <input type="text" required class="form-control" id="txtUnitRate" autocomplete="off" name="UnitRate" maxlength="25" tabindex="3" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Return Value(RM)</label>
                            <div>
                                <div class="col-sm-6" id="ReturnValue">
                                    <input type="text" class="form-control" placeholder="" id="txtReturnValue" autocomplete="off" name="ReturnValue" maxlength="25" tabindex="3" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Total Amount</label>
                            <div>
                                <div class="col-sm-6" id="TotalAmount">
                                    <input type="text" class="form-control" disabled="disabled" id="txtTotalAmount" autocomplete="off" name="Total Amount" maxlength="25" tabindex="3" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Invoice No./Receipt No.</label>
                            <div>
                                <div class="col-sm-6" id="InvoiceNoReceiptNo">
                                    <input type="text" class="form-control" id="txtInvoiceNoReceiptNo" autocomplete="off" name="InvoiceNoReceiptNo" maxlength="25" tabindex="3" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Waste Type<span style="color:red">*</span></label>
                            <div>
                                <div class="col-sm-6" id="WasteType">
                                    <select type="text" required class="form-control WasteType" id="ddlWasteType" autocomplete="off" name="Waste Type" maxlength="25"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Waste Code<span style="color:red">*</span></label>
                            <div>
                                <div class="col-sm-6" id="WasteCode">
                                    <select type="text" required class="form-control" id="txtWasteCode" disabled="disabled" autocomplete="off" name="Waste Code" maxlength="25">
                                        
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Transportation Category</label>
                            <div>
                                <div class="col-sm-6" id="TransportationCategory">
                                    <select type="text" class="form-control" id="ddlTransportationCategory" autocomplete="off" name="Transportation Category" maxlength="25"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Remarks</label>

                            <div class="col-sm-9">
                                <div id="Remarks">
                                    <textarea id="txtRemarks" class="form-control" rows="2" cols="50" name="Remarks" maxlength="500"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Start Date<span style="color:red">*</span></label>
                            <div>
                                <div class="col-sm-6" id="StartDate">
                                    <input type="text" required class="form-control datetime" id="txtStartDate" autocomplete="off" name="StartDate" maxlength="25" tabindex="3" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">End Date<span style="color:red">*</span></label>
                            <div>
                                <div class="col-sm-6" id="EndDate">
                                    <input type="text" required class="form-control datetime" placeholder="" id="txtEndDate" autocomplete="off" name="EndDate" maxlength="25" tabindex="3" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="w3-container">
                    <p align="center">
                        <input type="button" id="btnCSWRSDetailsFetch" class="btn btn-primary" value="Fetch" />
                    </p>
                </div>
                <br />
                <br />
                <table id="tblCSWRS" class="table table-bordered" style="border: 1px solid rgb(222, 218, 218);">
                    <thead class="tableHeading">
                        <tr>
                            <th width="4%" class="text-center">
                                <span style="text-align:center" class="delete-row glyphicon glyphicon-remove" id="deleteCSWRS"></span>
                            </th>
                            <th>
                                <label class="col-sm-6 control-label">User Area Code</label>
                            </th>
                            <th>
                                <label class="col-sm-6 control-label">User Area Name</label>
                            </th>
                            <th>
                                <label class="col-sm-6 control-label">CSWRS No.</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tbodyCSWRS"></tbody>
                </table>
                <br />
                <p class="text-center" id="table_data"><b>No records to display</b></p>
                <div class="row mt20" id="AttachRowPlus">
                    <div class="col-sm-3 ">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <div>
                                    <a class="btn btn-primary" id="AddCSWRS">+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="errorMsg" class="errormsgcenter" style="color:red; visibility:hidden;" aria-hidden="true"> </div>
                <div class="row mt30">
                    <div class="form-group">
                        <div class="col-sm-12 text-center">

                            <input type="button" id="btnSave" class="btn btn-primary" value="Save" />
                            <input type="button" id="btnSaveAddNew" class="btn btn-primary" value="Save & AddNew" />
                            <input type="button" id="btnCancel" class="btn btn-primary" value="Reset" />
                        </div>
                    </div>
                </div>
            </form>
            <br />
            <br />

        </div>
    </div>
    @Html.Partial("~/Areas/HWMS/Views/RecordsofRecyclableWaste/List.cshtml")
</div>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ng/controllers/HWMS/RecordsofRecyclableWaste.js")"></script>
}




