<div role="tabpanel" class="tab-pane" id="aAFAdditionalInfo" @*style="visibility:hidden"*@>
    <div class="content_body">
        <form class="form-horizontal" id="frmAdditionalInfo" novalidate>

            @*<div class="row">
                <div class="col-sm-12" style="text-align:right">
                    <div style="font-weight:bold; color:black; margin-bottom:15px;" id="divAssetAuthorizeStatus" class="AssetAuthorizeStatus"></div>
                </div>
            </div>*@

            <div id="divAdditionalFieldsContainer">
               
            </div>

            <div class="row">
                <div class="errormsgcenter" style="color:red; visibility:hidden" id="errorMsgAdditionalInfoTab">
                </div>
                <br />
                </div>
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button type="button" class="btn btn-primary customButton" id="btnAdditionalInfoEdit"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
</div>
<script src="~/Scripts/ng/Controllers/BEMS/AssetRegister/AdditionalInfo.js"></script>


