USE [UetrackBemsdbPreProd]
GO
/****** Object:  Table [dbo].[EngScheduleGenerationWeekLog06012021]    Script Date: 20-09-2021 17:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EngScheduleGenerationWeekLog06012021](
	[WeekLogId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[FacilityId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[WorkGroupId] [int] NOT NULL,
	[TypeOfPlanner] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[WeekNo] [int] NOT NULL,
	[WeekStartDate] [datetime] NULL,
	[WeekEndDate] [datetime] NULL,
	[GenerateDate] [datetime] NOT NULL,
	[DocumentNo] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedDateUTC] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedDateUTC] [datetime] NULL,
	[Timestamp] [timestamp] NOT NULL,
	[GuId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
