USE [UetrackBemsdbPreProd]
GO
/****** Object:  Table [dbo].[AssetPurchseRM]    Script Date: 20-09-2021 17:02:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetPurchseRM](
	[AssetNo] [nvarchar](255) NULL,
	[PurchaseCostRM] [float] NULL
) ON [PRIMARY]
GO
