USE [UetrackBemsdbPreProd]
GO
/****** Object:  Table [dbo].[AssetFEMS]    Script Date: 20-09-2021 17:02:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetFEMS](
	[CustomerId] [int] NOT NULL,
	[FacilityId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[WorkGroupId] [int] NULL,
	[AssetClassification] [int] NOT NULL,
	[IsAssetOld] [int] NULL,
	[AssetPreRegistrationNo] [int] NULL,
	[AssetNo] [nvarchar](255) NULL,
	[AssetNoOld] [int] NULL,
	[AssetTypeCodeId] [int] NOT NULL,
	[CommissioningDate] [varchar](23) NOT NULL,
	[ServiceStartDate] [varchar](23) NOT NULL,
	[ServiceStartDateUTC] [varchar](23) NOT NULL,
	[EffectiveDate] [varchar](23) NOT NULL,
	[EffectiveDateUTC] [varchar](23) NOT NULL,
	[ExpectedLifespan] [int] NULL,
	[AssetStatusLovId] [int] NOT NULL,
	[RealTimeStatusLovId] [int] NOT NULL,
	[OperatingHours] [int] NOT NULL,
	[Image1FMDocumentId] [int] NULL,
	[Image2FMDocumentId] [int] NULL,
	[Image3FMDocumentId] [int] NULL,
	[Image4FMDocumentId] [int] NULL,
	[VedioFMDocumentId] [int] NULL,
	[UserAreaId] [int] NOT NULL,
	[UserLocationId] [int] NOT NULL,
	[Manufacturer] [int] NOT NULL,
	[Model] [int] NOT NULL,
	[AppliedPartTypeLovId] [int] NOT NULL,
	[EquipmentClassLovId] [int] NOT NULL,
	[SerialNo] [nvarchar](255) NULL,
	[RiskRating] [int] NOT NULL,
	[MainSupplier] [nvarchar](255) NULL,
	[ManufacturingDate] [int] NULL,
	[ManufacturingDateUTC] [int] NULL,
	[SpecificationUnit] [int] NULL,
	[PowerSpecification] [int] NULL,
	[Volt] [int] NULL,
	[PpmPlannerId] [int] NOT NULL,
	[RiPlannerId] [int] NOT NULL,
	[OtherPlannerId] [int] NOT NULL,
	[PurchaseCostRM] [float] NULL,
	[PurchaseDate] [varchar](23) NOT NULL,
	[PurchaseDateUTC] [varchar](23) NOT NULL,
	[WarrantyDuration] [int] NOT NULL,
	[WarrantyStartDate] [varchar](23) NOT NULL,
	[WarrantyStartDateUTC] [varchar](23) NOT NULL,
	[WarrantyEndDate] [varchar](23) NOT NULL,
	[WarrantyEndDateUTC] [varchar](23) NOT NULL,
	[CumulativePartCost] [int] NOT NULL,
	[CumulativeLabourCost] [int] NOT NULL,
	[CumulativeContractCost] [int] NOT NULL,
	[RegistrationNo] [int] NULL,
	[ChassisNo] [int] NULL,
	[EngineCapacity] [int] NULL,
	[FuelType] [int] NULL,
	[Specification] [int] NULL,
	[DisposalApprovalDate] [int] NULL,
	[DisposalApprovalDateUTC] [int] NULL,
	[DisposedDate] [int] NULL,
	[DisposedDateUTC] [int] NULL,
	[DisposedBy] [int] NULL,
	[DisposeMethod] [int] NULL,
	[Authorization] [int] NOT NULL,
	[TestingandCommissioningDetId] [int] NULL,
	[AssetParentId] [int] NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [varchar](23) NOT NULL,
	[CreatedDateUTC] [varchar](23) NOT NULL,
	[ModifiedBy] [int] NOT NULL,
	[ModifiedDate] [varchar](23) NOT NULL,
	[ModifiedDateUTC] [varchar](23) NOT NULL,
	[Active] [int] NOT NULL,
	[BuiltIn] [int] NOT NULL,
	[AssetStandardizationId] [int] NULL,
	[NamePlateManufacturer] [int] NULL,
	[PowerSpecificationWatt] [int] NULL,
	[PowerSpecificationAmpere] [int] NULL,
	[PurchaseCategory] [int] NOT NULL,
	[IsLoaner] [int] NOT NULL,
	[TypeOfAsset] [int] NOT NULL,
	[Image5FMDocumentId] [int] NULL,
	[Image6FMDocumentId] [int] NULL,
	[SoftwareVersion] [int] NULL,
	[SoftwareKey] [int] NULL,
	[TransferRemarks] [int] NULL,
	[PurchaseOrderNo] [int] NULL,
	[InstalledLocationId] [int] NOT NULL,
	[TransferFacilityName] [int] NULL,
	[PreviousAssetNo] [int] NULL,
	[TransferMode] [int] NULL,
	[MainsFuseRating] [int] NULL,
	[OtherTransferDate] [int] NULL,
	[Field1] [int] NULL,
	[Field2] [int] NULL,
	[Field3] [int] NULL,
	[Field4] [int] NULL,
	[Field5] [int] NULL,
	[Field6] [int] NULL,
	[Field7] [int] NULL,
	[Field8] [int] NULL,
	[Field9] [int] NULL,
	[Field10] [int] NULL,
	[ServiceStopDate] [int] NULL,
	[IsMailSent] [int] NOT NULL,
	[RunningHoursCapture] [int] NOT NULL,
	[ContractType] [int] NOT NULL,
	[AssetWorkingStatus] [int] NULL,
	[CompanyStaffId] [int] NULL,
	[WarrantyEmail] [int] NULL,
	[Work_Group] [int] NULL,
	[Asset_Name] [nvarchar](255) NULL,
	[Item_Code] [nvarchar](255) NULL,
	[Item_Description] [nvarchar](255) NULL,
	[Package_Code] [nvarchar](255) NULL,
	[Package_Description] [nvarchar](255) NULL,
	[Asset_Category] [int] NULL,
	[BatchNo] [int] NULL,
	[QRCode] [int] NULL
) ON [PRIMARY]
GO
