USE [UetrackBemsdbPreProd]
GO
/****** Object:  Table [dbo].[PPMWorkOrderMigrationBaseData]    Script Date: 20-09-2021 17:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PPMWorkOrderMigrationBaseData](
	[company_code] [varchar](10) NOT NULL,
	[location_code] [varchar](16) NOT NULL,
	[wr_no] [varchar](18) NOT NULL,
	[wr_date] [datetime] NOT NULL,
	[requestor] [varchar](60) NOT NULL,
	[CurrentTargetDate] [datetime] NOT NULL,
	[PreviousTargetDate] [datetime] NULL,
	[contact_no] [varchar](20) NULL,
	[designation] [varchar](60) NULL,
	[asset_no] [varchar](16) NOT NULL,
	[priority_flag] [varchar](1) NULL,
	[type] [varchar](10) NULL,
	[category] [varchar](10) NULL,
	[temp_asset_flag] [varchar](1) NULL,
	[reference] [varchar](18) NULL,
	[details] [varchar](255) NOT NULL,
	[wg_code] [varchar](10) NOT NULL,
	[parts_req_flag] [varchar](1) NOT NULL,
	[ppm_shortclosed_flag] [varchar](1) NULL,
	[reason] [varchar](60) NULL,
	[status] [varchar](5) NOT NULL,
	[ppm_flag] [varchar](1) NULL,
	[created_by] [varchar](30) NULL,
	[created_date] [datetime] NULL,
	[modified_by] [varchar](30) NULL,
	[modified_date] [datetime] NULL,
	[start_date] [datetime] NULL,
	[handover_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[accepted_by] [varchar](60) NULL,
	[acc_designation] [varchar](60) NULL,
	[asset_required] [varchar](1) NULL,
	[qc_outstanding] [varchar](10) NULL,
	[downtime_hours] [numeric](7, 2) NULL,
	[qc_ppm_rt] [varchar](10) NULL,
	[qc_uptime] [varchar](10) NULL,
	[resource_type] [varchar](1) NULL,
	[contractor_code] [varchar](20) NULL,
	[contractor_cost] [numeric](28, 8) NULL,
	[contractor_hours] [numeric](7, 2) NULL,
	[pc_purchase_cost] [numeric](28, 8) NULL,
	[pc_purchase_parts] [varchar](255) NULL,
	[action_taken] [varchar](255) NULL,
	[pr_po_no] [varchar](18) NULL,
	[pr_po_value] [numeric](28, 8) NULL,
	[sr_no] [varchar](18) NULL,
	[parts_cost] [numeric](28, 8) NULL,
	[labour_cost] [numeric](28, 8) NULL,
	[mri_flag] [varchar](1) NULL,
	[ppm_agreed_date] [datetime] NULL,
	[asset_status_flag] [varchar](1) NULL,
	[justification] [varchar](255) NULL,
	[safety_flag] [varchar](3) NULL,
	[performance_flag] [varchar](3) NULL,
	[rate_service] [numeric](2, 0) NULL,
	[rate_comm] [numeric](2, 0) NULL,
	[rate_att] [numeric](2, 0) NULL,
	[FLAG] [varchar](5) NOT NULL,
	[EmployeeID] [varchar](50) NULL,
	[assessment_details] [varchar](8000) NULL,
	[date] [datetime] NULL
) ON [PRIMARY]
GO
