USE [UetrackBemsdbPreProd]
GO
/****** Object:  Table [dbo].[VMRollOverFeeReport]    Script Date: 20-09-2021 17:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VMRollOverFeeReport](
	[RollOverFeeId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[FacilityId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[AssetClassificationId] [int] NULL,
	[Year] [int] NULL,
	[Month] [int] NULL,
	[DWStartDate] [datetime] NULL,
	[PWStartDate] [datetime] NULL,
	[DoneBy] [int] NULL,
	[DoneDate] [datetime] NULL,
	[Remarks] [nvarchar](500) NULL,
	[Status] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedDateUTC] [datetime] NOT NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedDateUTC] [datetime] NULL,
	[Timestamp] [timestamp] NOT NULL,
	[GuId] [uniqueidentifier] NOT NULL,
	[StatusFlag] [int] NULL,
 CONSTRAINT [PK_VMRollOverFeeReport] PRIMARY KEY CLUSTERED 
(
	[RollOverFeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VMRollOverFeeReport] ADD  CONSTRAINT [DF_VMRollOverFeeReport_GuId]  DEFAULT (newid()) FOR [GuId]
GO
ALTER TABLE [dbo].[VMRollOverFeeReport]  WITH CHECK ADD  CONSTRAINT [FK_VMRollOverFeeReport_AssetClassificationId] FOREIGN KEY([AssetClassificationId])
REFERENCES [dbo].[EngAssetClassification] ([AssetClassificationId])
GO
ALTER TABLE [dbo].[VMRollOverFeeReport] CHECK CONSTRAINT [FK_VMRollOverFeeReport_AssetClassificationId]
GO
ALTER TABLE [dbo].[VMRollOverFeeReport]  WITH CHECK ADD  CONSTRAINT [FK_VMRollOverFeeReport_MstCustomer_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[MstCustomer] ([CustomerId])
GO
ALTER TABLE [dbo].[VMRollOverFeeReport] CHECK CONSTRAINT [FK_VMRollOverFeeReport_MstCustomer_CustomerId]
GO
ALTER TABLE [dbo].[VMRollOverFeeReport]  WITH CHECK ADD  CONSTRAINT [FK_VMRollOverFeeReport_MstLocationFacility_FacilityId] FOREIGN KEY([FacilityId])
REFERENCES [dbo].[MstLocationFacility] ([FacilityId])
GO
ALTER TABLE [dbo].[VMRollOverFeeReport] CHECK CONSTRAINT [FK_VMRollOverFeeReport_MstLocationFacility_FacilityId]
GO
ALTER TABLE [dbo].[VMRollOverFeeReport]  WITH CHECK ADD  CONSTRAINT [FK_VMRollOverFeeReport_MstService_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[MstService] ([ServiceId])
GO
ALTER TABLE [dbo].[VMRollOverFeeReport] CHECK CONSTRAINT [FK_VMRollOverFeeReport_MstService_ServiceId]
GO
