USE [UetrackBemsdbPreProd]
GO
/****** Object:  Table [dbo].[Manubems]    Script Date: 20-09-2021 17:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manubems](
	[Manufacturer ] [nvarchar](255) NULL
) ON [PRIMARY]
GO
