USE [UetrackBemsdbPreProd]
GO
/****** Object:  Table [dbo].[KPI_CONDITIONS_INDICATOR]    Script Date: 20-09-2021 17:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KPI_CONDITIONS_INDICATOR](
	[CALL_CONDITIONS_INDICATOR] [int] IDENTITY(1,1) NOT NULL,
	[CALL_CONDITIONS_TYPEOFREQUEST] [int] NOT NULL,
	[CALL_CONDITIONS_INDICATOR_min_time] [int] NOT NULL,
	[CALL_CONDITIONS_SCREEN_ID] [int] NOT NULL,
	[CALL_CONDITIONS_INDICATOR_Active] [int] NOT NULL,
 CONSTRAINT [PK_CALL_CONDITIONS_INDICATOR] PRIMARY KEY CLUSTERED 
(
	[CALL_CONDITIONS_INDICATOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
