USE [UetrackBemsdbPreProd]
GO
/****** Object:  Table [dbo].[Deduction_Date]    Script Date: 20-09-2021 17:02:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deduction_Date](
	[Month] [int] NULL,
	[Year] [int] NULL,
	[MonthName] [nvarchar](200) NULL
) ON [PRIMARY]
GO
