<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  
  <connectionStrings>
    <!--=====Local===========-->
    <!--<add name="AsisReportDataBase" connectionString="Data Source=EGBS11NK2573278;Initial Catalog=uetrackbemsdbb"/>
    <add name="ASISWebDatabaseEntities" connectionString="metadata=res://*/Model.ASISWebDB.csdl|res://*/Model.ASISWebDB.ssdl|res://*/Model.ASISWebDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISReportEntities" connectionString="metadata=res://*/ReportModel.ASISReportDB.csdl|res://*/ReportModel.ASISReportDB.ssdl|res://*/ReportModel.ASISReportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISExportEntities" connectionString="metadata=res://*/ExportModel.ASISExportDB.csdl|res://*/ExportModel.ASISExportDB.ssdl|res://*/ExportModel.ASISExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISBEMSExportEntities" connectionString="metadata=res://*/ExportModel.BEMSExportDB.csdl|res://*/ExportModel.BEMSExportDB.ssdl|res://*/ExportModel.BEMSExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISFEMSExportEntities" connectionString="metadata=res://*/ExportModel.FEMSExportDB.csdl|res://*/ExportModel.FEMSExportDB.ssdl|res://*/ExportModel.FEMSExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISCLSExportEntities" connectionString="metadata=res://*/ExportModel.CLSExportDB.csdl|res://*/ExportModel.CLSExportDB.ssdl|res://*/ExportModel.CLSExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISLLSExportEntities" connectionString="metadata=res://*/ExportModel.LLSExportDB.csdl|res://*/ExportModel.LLSExportDB.ssdl|res://*/ExportModel.LLSExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISHWMSExportEntities" connectionString="metadata=res://*/ExportModel.HWMSExportDB.csdl|res://*/ExportModel.HWMSExportDB.ssdl|res://*/ExportModel.HWMSExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISBERExportEntities" connectionString="metadata=res://*/ExportModel.BERExportDB.csdl|res://*/ExportModel.BERExportDB.ssdl|res://*/ExportModel.BERExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISEODExportEntities" connectionString="metadata=res://*/ExportModel.EODExportDB.csdl|res://*/ExportModel.EODExportDB.ssdl|res://*/ExportModel.EODExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISQAPExportEntities" connectionString="metadata=res://*/ExportModel.QAPExportDB.csdl|res://*/ExportModel.QAPExportDB.ssdl|res://*/ExportModel.QAPExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISVMExportEntities" connectionString="metadata=res://*/ExportModel.VMExportDB.csdl|res://*/ExportModel.VMExportDB.ssdl|res://*/ExportModel.VMExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISFINExportEntities" connectionString="metadata=res://*/ExportModel.FINExportDB.csdl|res://*/ExportModel.FINExportDB.ssdl|res://*/ExportModel.FINExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISDEDExportEntities" connectionString="metadata=res://*/ExportModel.DEDExportDB.csdl|res://*/ExportModel.DEDExportDB.ssdl|res://*/ExportModel.DEDExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISHDExportEntities" connectionString="metadata=res://*/ExportModel.HDExportDB.csdl|res://*/ExportModel.HDExportDB.ssdl|res://*/ExportModel.HDExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISSPExportEntities" connectionString="metadata=res://*/ExportModel.SPExportDB.csdl|res://*/ExportModel.SPExportDB.ssdl|res://*/ExportModel.SPExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISVRCExportEntities" connectionString="metadata=res://*/ExportModel.VRCExportDB.csdl|res://*/ExportModel.VRCExportDB.ssdl|res://*/ExportModel.VRCExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISWPMExportEntities" connectionString="metadata=res://*/ExportModel.WPMExportDB.csdl|res://*/ExportModel.WPMExportDB.ssdl|res://*/ExportModel.WPMExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISHSIPExportEntities" connectionString="metadata=res://*/ExportModel.HSIPExportDB.csdl|res://*/ExportModel.HSIPExportDB.ssdl|res://*/ExportModel.HSIPExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISWPExportEntities" connectionString="metadata=res://*/ExportModel.WPExportDB.csdl|res://*/ExportModel.WPExportDB.ssdl|res://*/ExportModel.WPExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASIS_FrameworkEntities" connectionString="metadata=res://*/Model.MetaData.csdl|res://*/Model.MetaData.ssdl|res://*/Model.MetaData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=EGBS11NK25732788;Initial Catalog=uetrackbemsdbb;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--============================-->

    <!--=====Stagging ===========-->
    <add name="AsisReportDataBase" connectionString="Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=_uZ!6XT|kjQt" />
    <add name="ASISWebDatabaseEntities" connectionString="metadata=res://*/Model.ASISWebDB.csdl|res://*/Model.ASISWebDB.ssdl|res://*/Model.ASISWebDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISReportEntities" connectionString="metadata=res://*/ReportModel.ASISReportDB.csdl|res://*/ReportModel.ASISReportDB.ssdl|res://*/ReportModel.ASISReportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISExportEntities" connectionString="metadata=res://*/ExportModel.ASISExportDB.csdl|res://*/ExportModel.ASISExportDB.ssdl|res://*/ExportModel.ASISExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISBEMSExportEntities" connectionString="metadata=res://*/ExportModel.BEMSExportDB.csdl|res://*/ExportModel.BEMSExportDB.ssdl|res://*/ExportModel.BEMSExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISFEMSExportEntities" connectionString="metadata=res://*/ExportModel.FEMSExportDB.csdl|res://*/ExportModel.FEMSExportDB.ssdl|res://*/ExportModel.FEMSExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISCLSExportEntities" connectionString="metadata=res://*/ExportModel.CLSExportDB.csdl|res://*/ExportModel.CLSExportDB.ssdl|res://*/ExportModel.CLSExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISLLSExportEntities" connectionString="metadata=res://*/ExportModel.LLSExportDB.csdl|res://*/ExportModel.LLSExportDB.ssdl|res://*/ExportModel.LLSExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISHWMSExportEntities" connectionString="metadata=res://*/ExportModel.HWMSExportDB.csdl|res://*/ExportModel.HWMSExportDB.ssdl|res://*/ExportModel.HWMSExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISBERExportEntities" connectionString="metadata=res://*/ExportModel.BERExportDB.csdl|res://*/ExportModel.BERExportDB.ssdl|res://*/ExportModel.BERExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISEODExportEntities" connectionString="metadata=res://*/ExportModel.EODExportDB.csdl|res://*/ExportModel.EODExportDB.ssdl|res://*/ExportModel.EODExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISQAPExportEntities" connectionString="metadata=res://*/ExportModel.QAPExportDB.csdl|res://*/ExportModel.QAPExportDB.ssdl|res://*/ExportModel.QAPExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISVMExportEntities" connectionString="metadata=res://*/ExportModel.VMExportDB.csdl|res://*/ExportModel.VMExportDB.ssdl|res://*/ExportModel.VMExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISFINExportEntities" connectionString="metadata=res://*/ExportModel.FINExportDB.csdl|res://*/ExportModel.FINExportDB.ssdl|res://*/ExportModel.FINExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISDEDExportEntities" connectionString="metadata=res://*/ExportModel.DEDExportDB.csdl|res://*/ExportModel.DEDExportDB.ssdl|res://*/ExportModel.DEDExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISHDExportEntities" connectionString="metadata=res://*/ExportModel.HDExportDB.csdl|res://*/ExportModel.HDExportDB.ssdl|res://*/ExportModel.HDExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISSPExportEntities" connectionString="metadata=res://*/ExportModel.SPExportDB.csdl|res://*/ExportModel.SPExportDB.ssdl|res://*/ExportModel.SPExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISVRCExportEntities" connectionString="metadata=res://*/ExportModel.VRCExportDB.csdl|res://*/ExportModel.VRCExportDB.ssdl|res://*/ExportModel.VRCExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISWPMExportEntities" connectionString="metadata=res://*/ExportModel.WPMExportDB.csdl|res://*/ExportModel.WPMExportDB.ssdl|res://*/ExportModel.WPMExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISHSIPExportEntities" connectionString="metadata=res://*/ExportModel.HSIPExportDB.csdl|res://*/ExportModel.HSIPExportDB.ssdl|res://*/ExportModel.HSIPExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISWPExportEntities" connectionString="metadata=res://*/ExportModel.WPExportDB.csdl|res://*/ExportModel.WPExportDB.ssdl|res://*/ExportModel.WPExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASIS_FrameworkEntities" connectionString="metadata=res://*/Model.MetaData.csdl|res://*/Model.MetaData.ssdl|res://*/Model.MetaData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackbemsdbb;User ID=uetracksa;Password=_uZ!6XT|kjQt;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--=====UAT ===========-->
    <!--<add name="AsisReportDataBase" connectionString="Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=_uZ!6XT|kjQt"/>
    <add name="ASISWebDatabaseEntities" connectionString="metadata=res://*/Model.ASISWebDB.csdl|res://*/Model.ASISWebDB.ssdl|res://*/Model.ASISWebDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISReportEntities" connectionString="metadata=res://*/ReportModel.ASISReportDB.csdl|res://*/ReportModel.ASISReportDB.ssdl|res://*/ReportModel.ASISReportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISExportEntities" connectionString="metadata=res://*/ExportModel.ASISExportDB.csdl|res://*/ExportModel.ASISExportDB.ssdl|res://*/ExportModel.ASISExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISBEMSExportEntities" connectionString="metadata=res://*/ExportModel.BEMSExportDB.csdl|res://*/ExportModel.BEMSExportDB.ssdl|res://*/ExportModel.BEMSExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISFEMSExportEntities" connectionString="metadata=res://*/ExportModel.FEMSExportDB.csdl|res://*/ExportModel.FEMSExportDB.ssdl|res://*/ExportModel.FEMSExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISCLSExportEntities" connectionString="metadata=res://*/ExportModel.CLSExportDB.csdl|res://*/ExportModel.CLSExportDB.ssdl|res://*/ExportModel.CLSExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISLLSExportEntities" connectionString="metadata=res://*/ExportModel.LLSExportDB.csdl|res://*/ExportModel.LLSExportDB.ssdl|res://*/ExportModel.LLSExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISHWMSExportEntities" connectionString="metadata=res://*/ExportModel.HWMSExportDB.csdl|res://*/ExportModel.HWMSExportDB.ssdl|res://*/ExportModel.HWMSExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISBERExportEntities" connectionString="metadata=res://*/ExportModel.BERExportDB.csdl|res://*/ExportModel.BERExportDB.ssdl|res://*/ExportModel.BERExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISEODExportEntities" connectionString="metadata=res://*/ExportModel.EODExportDB.csdl|res://*/ExportModel.EODExportDB.ssdl|res://*/ExportModel.EODExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISQAPExportEntities" connectionString="metadata=res://*/ExportModel.QAPExportDB.csdl|res://*/ExportModel.QAPExportDB.ssdl|res://*/ExportModel.QAPExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISVMExportEntities" connectionString="metadata=res://*/ExportModel.VMExportDB.csdl|res://*/ExportModel.VMExportDB.ssdl|res://*/ExportModel.VMExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISFINExportEntities" connectionString="metadata=res://*/ExportModel.FINExportDB.csdl|res://*/ExportModel.FINExportDB.ssdl|res://*/ExportModel.FINExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISDEDExportEntities" connectionString="metadata=res://*/ExportModel.DEDExportDB.csdl|res://*/ExportModel.DEDExportDB.ssdl|res://*/ExportModel.DEDExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISHDExportEntities" connectionString="metadata=res://*/ExportModel.HDExportDB.csdl|res://*/ExportModel.HDExportDB.ssdl|res://*/ExportModel.HDExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISSPExportEntities" connectionString="metadata=res://*/ExportModel.SPExportDB.csdl|res://*/ExportModel.SPExportDB.ssdl|res://*/ExportModel.SPExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISVRCExportEntities" connectionString="metadata=res://*/ExportModel.VRCExportDB.csdl|res://*/ExportModel.VRCExportDB.ssdl|res://*/ExportModel.VRCExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISWPMExportEntities" connectionString="metadata=res://*/ExportModel.WPMExportDB.csdl|res://*/ExportModel.WPMExportDB.ssdl|res://*/ExportModel.WPMExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISHSIPExportEntities" connectionString="metadata=res://*/ExportModel.HSIPExportDB.csdl|res://*/ExportModel.HSIPExportDB.ssdl|res://*/ExportModel.HSIPExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASISWPExportEntities" connectionString="metadata=res://*/ExportModel.WPExportDB.csdl|res://*/ExportModel.WPExportDB.ssdl|res://*/ExportModel.WPExportDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASIS_FrameworkEntities" connectionString="metadata=res://*/Model.MetaData.csdl|res://*/Model.MetaData.ssdl|res://*/Model.MetaData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source= Data Source=10.249.5.52;Initial Catalog=uetrackMasterdbPreProd;User ID=uetracksa;Password=_uZ!6XT|kjQt;Integrated Security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <appSettings>
    <add key="FindQuoteSearch" value="3600" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.0" newVersion="5.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>