<table class="table">
	<tr>
		<td class="col-sm-3">
			<img alt="Portal Rasmi Kementerian Kesihatan Malaysia" class="n3VNCb" src="https://zenprospect-production.s3.amazonaws.com/uploads/pictures/5c34c60d80f93e1eb89a598f/picture" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="height: 98px; margin: 1px 0px;"> <img alt="Portal Rasmi Kementerian Kesihatan Malaysia" class="n3VNCb" src="https://www.moh.gov.my/moh/resources/pengurusan/logo_baru_kkm.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="height: 90px; margin: 1px 0px;">
		</td>
		<td class="col-sm-6">
			<h5 style="text-align:center; font-size:18px;  margin-top: 30px; margin-bottom:1px; margin-right: 10px;  margin-left: 10px;"> <b> @ViewData["ReportName"] </b></h5>
		</td>
		<td class="col-sm-3">
			<img alt="UEM Edgenta Berhad | LinkedIn" class="n3VNCb" src="../images/report_logo.png" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="height: 66px; margin: 1px 0px;float:right ">
		</td>
	</tr>
</table>