<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<connectionStrings>
    <add name="EmailEntities" connectionString="Data Source=172.17.2.6;Initial Catalog=UETrack-BEMS;Persist Security Info=True;User ID=sa;Password=Changep0nd"/>
    <add name="EmailEntitiesM" connectionString="Data Source=10.249.116.34;Initial Catalog=uetrackMasterdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*" />
    <add name="EmailEntitiesB" connectionString="Data Source=10.249.116.34;Initial Catalog=uetrackbemsdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*"/>
    <add name="EmailEntitiesF" connectionString="Data Source=10.249.116.34;Initial Catalog=uetrackfemsdbPreProd;User ID=uesa;Password=nWQy@xrtz+G*"/>

  </connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingFileAppender" />
			<appender-ref ref="Console" />
		</root>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/ServiceMonitor" />
			<appendToFile value="true" />
			<staticLogFileName value="false" />
			<datePattern value="'-'yyyyMMdd'.txt'" />
			<rollingStyle value="Date" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %p{log4net:HostName} S:%property{SessionId} R:%property{RequestId} C:%property{CommandId} - [%level] (%logger) %message [%exception]%newline" />
			</layout>
		</appender>
		<appender name="Console" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="Red, HighIntensity" />
			</mapping>
			<mapping>
				<level value="INFO" />
				<foreColor value="White" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<foreColor value="Green" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="(%logger) %message [%exception]%newline" />
			</layout>
		</appender>
		<!--<appender name="TextBoxAppender" type="Netagio.ServiceMonitor.TextBoxAppender, Netagio.ServiceMonitor">
      <formName value="Monitor"/>
      <textBoxName value="txt_ViewLog"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message" />
      </layout>
    </appender>-->
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<appSettings>
	<add key="SmtpHost" value="172.16.0.216" />
  
   <!--	 <add key="SmtpHost" value="10.49.12.10" />-->
		<add key="SmtpPort" value="25" />
		<add key="SmtpEnableSsl" value="false" />
		<!--<add key="SmtpUserId" value="tdetestcpt@gmail.com" />
		<add key="SmtpPassword" value="tdetestcpt@1" />-->
		<add key="INTERVAL_SECS" value="30" />
    <add key="INTERVAL_FOR_EMAIL_SECS" value="18000000" />
		<add key="FromMailId" value="adeepakvijay@edgenta.com" />
		<add key="webrootpath" value="http://localhost:61499/" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="ShowDB" value="false" />
    <add key="RetrieveEmail" value="5" />
    <add key="FromEmailDisplayName" value="UETrack Notification" />
    <add key="EmailEntitiesCommandTimeout" value="120" />
    <add key="EmailFailTimeout" value="5" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>