
@{
    ViewBag.Title = "Asset Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/JQGrid/BEMS/AssetInformationList.js"></script>
    <!-- Content Header Starts -->
    <div class="content_header">
        <ol class="breadcrumb">
            <li><a href="/home/DashBoard"><i class="fa fa-home"></i></a></li>
            <li>General Master</li>
            <li>Asset Meta Data</li>
            <li class="active"><a href="/bems/assetinformation">Asset Information</a></li>
        </ol>
        <h4>Asset Information</h4>
    </div>
<!-- Content Header Starts -->
<form class="form-horizontal1">
    <div class="content-area">
        @*<div class="standard-tabs" id="tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-1" data-toggle="tab">User Role</a></li>
                </ul>
            </div>*@

        <div class="row">
            <div id="gridTable">
                <div class="col-sm-12">
                    @*<div class="table-header">
                            <div class="row">
                                <div class="col-xs-12" style="background-color:#477ca9">
                                    <a id="advanceSearch" class="btn btn-primary" title="Toggle search" href="javascript:void(0)"><span class="glyphicon glyphicon-search"></span></a>
                                </div>
                            </div>
                        </div>*@

                    <div class="panel-heading PanelHeadingSearch" id="advanceSearch">
                        <h4 class="panel-title text_align_left">
                            <a id="jQGridCollapse1" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapse1" aria-expanded="false" aria-controls="collapseOne"
                               class="collapsed display_block">Asset Information List<i class="indicator glyphicon pull-right glyphicon-plus" id="iJQGridIndicator1"></i></a>
                        </h4>
                    </div>

                </div>
                <div class="col-sm-12">

                    <div id="gridContainer"></div>
                </div>
                <div class="col-sm-12">
                    <table id="grid"></table>
                    <div id="pager"></div>
                </div>
            </div>
        </div>
    </div>
</form>


