
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>

    @functions{
        public string GetAntiForgeryToken()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }

    <input id="antiForgeryToken" type="hidden" />
    <input type="hidden" id="primaryID" name="primaryID" value="@ViewBag.Id" />
    <input type="hidden" id="ActionType" name="ActionType" value="@ViewBag.ActionType" />
    <input type="hidden" id="Timestamp" name="Timestamp" value="null" />

    <div class="content_header">
        <ol class="breadcrumb">
            <li>
                <a href="/home/dashboard"><i class="fa fa-home"></i></a>
            </li>
            <li>QAP</li>           
            <li class="active">Quality Cause Master</li>            
            <a id="HelpDescriptionLink" data-toggle="modal" title="" tabindex="0" data-target="#Description" aria-disabled="false">
                <i class="fa fa-question-circle" aria-hidden="true" style="float:right;margin-right:20px;"></i>
                <span class="badge" id="helpdescriptionid"></span>
            </a>
        </ol>
        <h4> Quality Cause Master</h4>
    </div>
   
    <!-- Content Header Ends -->
    <!-- Contents goes here -->

    <div class="content_body">
        <form class="form-horizontal" id="QAPQualityCauseMasterForm" autocomplete="off">

            <div class="row">
                <div class="col-sm-6" hidden>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Service <span class="red"> </span></label>
                        <div class="col-sm-6">

                            <select class="form-control" id="QualityService" name="Service" disabled tabindex="0">                                
                            </select>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Failure Symptom Code <span class="red"> *</span></label>      @*Cause Code*@
                        <div class="col-sm-6">
                            <div>
                                <input type="text" required id="QualityCauseCode" title="" pattern="^[a-zA-Z0-9-//s]{3,}$" class="form-control"  maxlength="25" name="Failure Symptom Code">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Description <span class="red"> *</span></label>
                        <div class="col-sm-6">
                            <input type="text" id="QualityDescription" maxlength="150" class="form-control description entervalid" name="Description" required title="">
                            @*<textarea type="text" id="QualityDescription" maxlength="150" name="Description" class="form-control wt-resize description entervalid" style="height:70px;" required></textarea>*@
                        </div>
                    </div>
                </div>

            </div>

            <div ng-view="" class="row">
                <div class="col-sm-12">
                    <hr style="margin: 2em 0;">
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table id="QualityCauseMasterdataTable" class="table table-fixedheader table-bordered table-textarea" style="border: 1px solid rgb(222, 218, 218);">
                            <thead class="tableHeading">
                                <tr>
                                    <th width="3%" class="text-center">
                                        <div class="checkbox text-center">
                                            <a><span style="text-align: center; " class="glyphicon glyphicon-remove" title="Remove"></span></a><br>
                                            <label for="checkboxes-0">
                                                <input type="checkbox" name="QualityCauseMaster" id="chk_QualityCauseMasterdet" value="false" autocomplete="off" aria-disabled="false" aria-checked="false" aria-invalid="false">
                                            </label>
                                        </div>
                                    </th>
                                    <th style="text-align: center;" width="20%">Failure Type<span class="red"> *</span></th>                @*Problem Code*@ 
                                    <th style="text-align: center;" width="25%">Failure Root Cause Code<span class="red"> *</span></th>       @*QC Code*@ 
                                    <th style="text-align: center;" width="32%">Details</th>
                                    <th style="text-align: center;" width="20%">Status</th>


                                </tr>
                            </thead>
                            <tbody id="QualityCauseMstTbl">                                

                                @* Content of body HTML *@
                                   
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="paginationfooter" style="margin-top:15px;"></div>
            <div class="row mt20">               
                    <div class="col-sm-2 ">
                        <div class="form-group">
                            <div class="col-sm-2">
                                <div>
                                    <a onclick="AddNewRow()" class="btn btn-primary">+</a>
                                </div>
                            </div>
                        </div>
                    </div>             
            </div>

            <div id="errorMsg" class="errormsgcenter" style="color:red; visibility:hidden;" aria-hidden="true"></div>
            <div class="row mt20">
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button type="button" id="btnQualityCauseSave" class="btn btn-primary customButton" title="Save" tabindex="5"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                        <button type="button" id="btnQualityCauseEdit" class="btn btn-primary hider customButton" title="Save" tabindex="5"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                        <button type="button" id="btnSaveandAddNew" class="btn btn-primary customButton" title="Save & AddNew"><i class="fa fa-plus" aria-hidden="true"></i>Save & Add New </button>
                        <button type="button" id="btnDelete" name="btnDelete" class="btn btn-primary customButton hider" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
                        <button type="button" id="btnCancel" name="btnCancel" class="btn btn-grey customButton" title="Reset"><i class="fa fa-repeat" aria-hidden="true"></i>Reset</button>
                    </div>
                </div>
            </div>
        </form>       
        @Html.Partial("~/Areas/FEMS/Views/qualitycausemaster/List.cshtml")
    </div>

</div>


@section scripts
    {        
<script src="~/Scripts/ng/Controllers/QAP/QualityCauseMaster.js"></script>
}

