USE [UetrackFemsdbPreProd]
GO
/****** Object:  StoredProcedure [dbo].[MergeTest]    Script Date: 20-09-2021 16:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT A.UserRegistrationId,B.UserRegistrationId
--FROM [dbo].[UMUserRegistration_27112019] A
--LEFT OUTER JOIN [dbo].[UMUserRegistration] B
--ON A.UserRegistrationId=B.UserRegistrationId

--DROP TABLE 

--SELECT * INTO UMUserRegistrationmerge_02122019 FROM [dbo].[UMUserRegistration]


CREATE PROCEDURE [dbo].[MergeTest]
AS 
BEGIN

MERGE [dbo].[UMUserRegistration] AS TARGET
USING [dbo].[UMUserRegistration_Mst] AS SOURCE 
ON (TARGET.UserRegistrationId=SOURCE.UserRegistrationId)
--,TARGET.[ServicesID]=TARGET.[ServicesID]
WHEN NOT MATCHED BY TARGET 
THEN 
INSERT (   [CustomerId]
           ,[StaffName]
           ,[UserName]
           ,[Password]
           ,[Gender]
           ,[PhoneNumber]
           ,[Email]
           ,[DateJoined]
           ,[DateJoinedUTC]
           ,[UserTypeId]
           ,[IsMailSent]
           ,[MailSentTime]
           ,[MailSentTimeUTC]
           ,[ExpiryDuration]
           ,[LoginAttempt]
           ,[Status]
           ,[IsBlocked]
           ,[InvalidAttempts]
           ,[InvalidAttemptDateTime]
           ,[InvalidAttemptDateTimeUTC]
           ,[LoginDateTime]
           ,[LoginDateTimeUTC]
           ,[PasswordChangedDateTime]
           ,[PasswordChangedDateTimeUTC]
           ,[MobileNumber]
           ,[ExistingStaff]
           ,[CreatedBy]
           ,[CreatedDate]
           ,[CreatedDateUTC]
           ,[ModifiedBy]
           ,[ModifiedDate]
           ,[ModifiedDateUTC]
           ,[Active]
           ,[BuiltIn]
           ,[GuId]
           ,[UserDesignationId]
           ,[UserCompetencyId]
           ,[UserSpecialityId]
           ,[Nationality]
           ,[UserDepartmentId]
           ,[UserGradeId]
           ,[FacilityId]
           ,[IsClockIn]
           ,[ContractorId]
           ,[IsCenterPool]
           ,[IsUserEngaged]
           ,[LabourCostPerHour]
           --,[ServicesID]
		   )
VALUES     (SOURCE.[CustomerId]
           ,SOURCE.[StaffName]
           ,SOURCE.[UserName]
           ,SOURCE.[Password]
           ,SOURCE.[Gender]
           ,SOURCE.[PhoneNumber]
           ,SOURCE.[Email]
           ,SOURCE.[DateJoined]
           ,SOURCE.[DateJoinedUTC]
           ,SOURCE.[UserTypeId]
           ,SOURCE.[IsMailSent]
           ,SOURCE.[MailSentTime]
           ,SOURCE.[MailSentTimeUTC]
           ,SOURCE.[ExpiryDuration]
           ,SOURCE.[LoginAttempt]
           ,SOURCE.[Status]
           ,SOURCE.[IsBlocked]
           ,SOURCE.[InvalidAttempts]
           ,SOURCE.[InvalidAttemptDateTime]
           ,SOURCE.[InvalidAttemptDateTimeUTC]
           ,SOURCE.[LoginDateTime]
           ,SOURCE.[LoginDateTimeUTC]
           ,SOURCE.[PasswordChangedDateTime]
           ,SOURCE.[PasswordChangedDateTimeUTC]
           ,SOURCE.[MobileNumber]
           ,SOURCE.[ExistingStaff]
           ,SOURCE.[CreatedBy]
           ,SOURCE.[CreatedDate]
           ,SOURCE.[CreatedDateUTC]
           ,SOURCE.[ModifiedBy]
           ,SOURCE.[ModifiedDate]
           ,SOURCE.[ModifiedDateUTC]
           ,SOURCE.[Active]
           ,SOURCE.[BuiltIn]
           ,SOURCE.[GuId]
           ,SOURCE.[UserDesignationId]
           ,SOURCE.[UserCompetencyId]
           ,SOURCE.[UserSpecialityId]
           ,SOURCE.[Nationality]
           ,SOURCE.[UserDepartmentId]
           ,SOURCE.[UserGradeId]
           ,SOURCE.[FacilityId]
           ,SOURCE.[IsClockIn]
           ,SOURCE.[ContractorId]
           ,SOURCE.[IsCenterPool]
           ,SOURCE.[IsUserEngaged]
           ,SOURCE.[LabourCostPerHour]
--           ,SOURCE.[ServicesID]
		   )
WHEN MATCHED THEN
UPDATE SET 
TARGET.[CustomerId]=SOURCE.[CustomerId]
,TARGET.[StaffName]=SOURCE.[StaffName]
,TARGET.[UserName]=SOURCE.[UserName]
,TARGET.[Password]=SOURCE.[Password]
,TARGET.[Gender]=SOURCE.[Gender]
,TARGET.[PhoneNumber]=SOURCE.[PhoneNumber]
,TARGET.[Email]=SOURCE.[Email]
,TARGET.[DateJoined]=SOURCE.[DateJoined]
,TARGET.[DateJoinedUTC]=SOURCE.[DateJoinedUTC]
,TARGET.[UserTypeId]=SOURCE.[UserTypeId]
,TARGET.[IsMailSent]=SOURCE.[IsMailSent]
,TARGET.[MailSentTime]=SOURCE.[MailSentTime]
,TARGET.[MailSentTimeUTC]=SOURCE.[MailSentTimeUTC]
,TARGET.[ExpiryDuration]=SOURCE.[ExpiryDuration]
,TARGET.[LoginAttempt]=SOURCE.[LoginAttempt]
,TARGET.[Status]=SOURCE.[Status]
,TARGET.[IsBlocked]=SOURCE.[IsBlocked]
,TARGET.[InvalidAttempts]=SOURCE.[InvalidAttempts]
,TARGET.[InvalidAttemptDateTime]=SOURCE.[InvalidAttemptDateTime]
,TARGET.[InvalidAttemptDateTimeUTC]=SOURCE.[InvalidAttemptDateTimeUTC]
,TARGET.[LoginDateTime]=SOURCE.[LoginDateTime]
,TARGET.[LoginDateTimeUTC]=SOURCE.[LoginDateTimeUTC]
,TARGET.[PasswordChangedDateTime]=SOURCE.[PasswordChangedDateTime]
,TARGET.[PasswordChangedDateTimeUTC]=SOURCE.[PasswordChangedDateTimeUTC]
,TARGET.[MobileNumber]=SOURCE.[MobileNumber]
,TARGET.[ExistingStaff]=SOURCE.[ExistingStaff]
,TARGET.[CreatedBy]=SOURCE.[CreatedBy]
,TARGET.[CreatedDate]=SOURCE.[CreatedDate]
,TARGET.[CreatedDateUTC]=SOURCE.[CreatedDateUTC]
,TARGET.[ModifiedBy]=SOURCE.[ModifiedBy]
,TARGET.[ModifiedDate]=SOURCE.[ModifiedDate]
,TARGET.[ModifiedDateUTC]=SOURCE.[ModifiedDateUTC]
,TARGET.[Active]=SOURCE.[Active]
,TARGET.[BuiltIn]=SOURCE.[BuiltIn]
,TARGET.[GuId]=SOURCE.[GuId]
,TARGET.[UserDesignationId]=SOURCE.[UserDesignationId]
,TARGET.[UserCompetencyId]=SOURCE.[UserCompetencyId]
,TARGET.[UserSpecialityId]=SOURCE.[UserSpecialityId]
,TARGET.[Nationality]=SOURCE.[Nationality]
,TARGET.[UserDepartmentId]=SOURCE.[UserDepartmentId]
,TARGET.[UserGradeId]=SOURCE.[UserGradeId]
,TARGET.[FacilityId]=SOURCE.[FacilityId]
,TARGET.[IsClockIn]=SOURCE.[IsClockIn]
,TARGET.[ContractorId]=SOURCE.[ContractorId]
,TARGET.[IsCenterPool]=SOURCE.[IsCenterPool]
,TARGET.[IsUserEngaged]=SOURCE.[IsUserEngaged]
,TARGET.[LabourCostPerHour]=SOURCE.[LabourCostPerHour]
;



END
GO
