<div class="panel panel-default">
    <div class="panel-heading">Expiry Alert</div>
    <div id="ExpiryAlertChart" class="panel-body">

    </div>
</div>


<script src="~/Scripts/ng/Controllers/Dashboard/ExpiryAlertChart.js"></script>