
<script src="~/Scripts/JQGrid/CLS/DeptAreaDetails.js"></script>

<div class="content-area">
    <div class="row mb20">
        <div id="gridTable">
            <div class="col-sm-12">

                <div class="panel-heading PanelHeadingSearch" id="advanceSearch">
                    <h4 class="panel-title text_align_left">
                        <a id="jQGridCollapse1" role="button" data-toggle="collapse" data-parent="#accordion"
                           href="#collapse1" aria-expanded="false" aria-controls="collapseOne"
                           class="collapsed display_block">Dept Area Details Search<i class="indicator glyphicon pull-right glyphicon-plus" id="iJQGridIndicator1"></i></a>
                    </h4>
                </div>
                <div class="col-sm-12">
                    <div id="gridContainer"></div>
                </div>
                <div class="col-sm-12 jqContainer hide_container">
                    <table id="grid"></table>
                    <div id="pager"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ng/controllers/CLS/DeptAreaDetails.js")"></script>
}

