
<form id="formDeptAreaDetailsPeriodicWork" name="formDeptAreaDetailsPeriodicWork" class="form-horizontal" autocomplete="off">

    <div>
        <table class="table table-bordered">
            <thead class="tableHeading">
                <tr>
                    <th style="text-align: center;" width="10%"><label for="SOW">Scope of Work</label></th>
                    <th style="text-align: center;" width="10%">Frequency</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="CRW">Container/Receptacles - Washing</label></td>
                    <td>
                        <select type="text" class="form-control" id="ddlContainer" autocomplete="off" name="CRW" maxlength="25" >
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left" width="10%"><label for="CHD">Ceiling - High Dusting</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlCeiling" autocomplete="off" name="CHD" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="LAUFW">Lights,Air - Cond Outlet,Fan-Wiping</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlLightsAir" autocomplete="off" name="LAUFW" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="FS">Floor(Non-Polishable) - Scrubbing</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlFloorScrubbing" autocomplete="off" name="FS" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="FP">Floor(Polishable) - Polishing</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlFloorPolishing" autocomplete="off" name="FP" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="FB">Floor(Polishable) - Buffing</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlFloorBuffing" autocomplete="off" name="FB" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="FBB">Floor(Carpet) - Bonnet Buffing</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlFloorCarpet" autocomplete="off" name="FBB" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="FCS">Floor(Carpet) - Shampooing</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlFloorCarpetShampooing" autocomplete="off" name="FCS" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="FHE">Floor(Carpet) - Heat/Steam Extraction</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlFloorHeatExtraction" autocomplete="off" name="FHE" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="WW">Wall - Wiping</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlWallWiping" autocomplete="off" name="WW" maxlength="25" >
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="WDP">Window/Door - Wiping</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlWindowdDoor" autocomplete="off" name="WDP" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="PDWS">Perimeter Drain - Wash/Scrub</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlPerimeterDrain" autocomplete="off" name="PDWS" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="TD">Toilet -Descaling</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlToiletDescaling" autocomplete="off" name="TD" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="HRNHD">High Rise Nettting - High Dusting</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlHighRiseNettting" autocomplete="off" name="HRNHD" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="EFC">External Facade - Cleaning</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlExternalFacade" autocomplete="off" name="EFC" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="EHC">External High Level Glass - Cleaning</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlExternalHighGlass" autocomplete="off" name="EHC" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="IGSC">Internet Glass Above 10 Feet - Squeegee Clean</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlInternetGlass" autocomplete="off" name="IGSC" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="FRWS">Flat Roof - Wash /Scrub</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlFlatRoof" autocomplete="off" name="FRWS" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="SSP">Stainless Steel - Polishing</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlStainlessSteel" autocomplete="off" name="SSP" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="ECT">Expose Ceiling Truss - High Dusting Vacuum</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlExposeCeiling" autocomplete="off" name="ECT" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="LDW">Ledges - Damp Wipe</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlLedgesDamp" autocomplete="off" name="LDW" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="SHD">Skylight - High Dusting</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlSkylightDusting" autocomplete="off" name="SHD" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="SW">Signages - Wiping</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlSignagesWiping" autocomplete="off" name="SW" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="text-align:left;" width="10%"><label for="DHD">Decks - High Dusting</label></td>
                    <td align="left">
                        <select type="text" class="form-control" id="ddlDecksDusting" autocomplete="off" name="DHD" maxlength="25">
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="errorMsgPWS" class="errormsgcenter" style="color:red; visibility:hidden;" aria-hidden="true">
        <!-- ngIf: RescheduleErrorList.length > 0 -->
    </div>
    <div class="row mt20">
        <div class="form-group">
            <div class="col-sm-12 text-center">
                <input type="button" id="btnSavePWS" class="btn btn-primary customButton" value="Save" />
                <input type="button" id="btnCancelPWS" class="btn btn-primary" value="Reset" />
                @*<button type="button" id="btnSavePWS" class="btn btn-primary customButton" title="Save"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>*@

            </div>
        </div>
    </div>
    <label id="PWS" style="font-size:14px"></label>

</form>

