
@{
    ViewBag.Title = "VM - Bulk Authorization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @functions{
        public string GetAntiForgeryToken()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }

    <input id="antiForgeryToken" type="hidden" />
    <input type="hidden" id="primaryID" name="primaryID" value="@ViewBag.CurrentID" />
    <input type="hidden" id="ActionType" name="ActionType" value="@ViewBag.ActionType" />
    <input type="hidden" id="Timestamp" name="Timestamp" value="null" />

    <!-- Content Header Starts -->
    <div class="content_header">
        <ol class="breadcrumb">
            <li><a href="/home/dashboard"><i class="fa fa-home"></i></a></li>
            @*<li class="active">BEMS</li>*@
            <li class="active">VM</li>
            <li class="active">Bulk Authorization</li>
            <a id="HelpDescriptionLink" data-toggle="modal" title="" tabindex="0" data-target="#Description" aria-disabled="false">
                <i class="fa fa-question-circle" aria-hidden="true" style="float:right;margin-right:20px;"></i>
                <span class="badge" id="helpdescriptionid"></span>
            </a>
        </ol>
        <h4>@ViewBag.ActionType Bulk Authorization</h4>
    </div>
    <div class="standard-tabs" id="tabs">
        <ul class="nav nav-tabs">
            @*<li class="active"><a href="#tab-1" data-toggle="tab">Bulk Authorization</a></li>*@
        </ul>
    </div>
    <!-- Content Header Ends -->
    <!-- Contents goes here -->
    <div class="content_body">
        <form name="formVMBulkAuthorization" id="formVMBulkAuthorization" class="form-horizontal" novalidate autocomplete="off">

            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-7">
                        <label for="AssetNo" class="col-sm-3 control-label">Year &amp; Month <span class="red">*</span></label>
                        <div class="col-sm-2">
                            <div>
                                <select required id="YearId" class="form-control">
                                    <option value="0">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div>
                                <select required id="MonthId" class="form-control">
                                    <option value="null">Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="cols-sm-5" >
                        <label for="AssetNo" class="col-sm-2 control-label">Service <span class="red">*</span></label>
                        <div class="col-sm-3">
                            <div>
                                <select  required id="ServiceId" class="form-control">
                                    <option value=0>Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-12 text-center">
                        <div id="HideFetchButtonDiv" class="form-group">
                            <button type="button" id="btnFetchAdd" class="btn btn-primary customButton" title="Fetch" tabindex="5">Fetch</button>                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <hr style="margin: 1em 0;">
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table id="BulkAuthorizedataTable" class="table table-fixedheader table-bordered" style="border: 1px solid rgb(222, 218, 218);">
                            <thead class="tableHeading">
                                <tr>
                                    <th style="text-align: center;" width="8%">Asset No.</th>
                                    <th style="text-align: center;" width="9%">Asset Description</th>
                                    <th style="text-align: center;" width="8%"> Location Name</th>
                                    <th style="text-align: center;" width="10%">SNF Reference No.</th>
                                    <th style="text-align: center;" width="7%">Variation Status</th>
                                    <th style="text-align: center;" width="11%">Purchase / Project Cost (<span class="spnCurrencyName"></span>)</th>
                                    <th style="text-align: center;" width="8%">Commissioning Date</th>
                                    <th style="text-align: center;" width="8%">Service Start Date</th>
                                    <th style="text-align: center;" width="8%">Warranty End Date</th>
                                    <th style="text-align: center;" width="8%">Variation Date</th>
                                    <th style="text-align: center;" width="8%">Service Stop Date</th>
                                    <th style="text-align: center;" width="7%">Authorize
                                        <div class="checkbox text-center" style="min-height:25px;">
                                            <label for="checkboxes-0">
                                                <input type="checkbox" id="chk_AllGridIsAuthorize" disabled autocomplete="off" tabindex="0" aria-disabled="false" aria-checked="false" aria-invalid="false">
                                            </label>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="BulkAuthorizetbodyId">
                                <tr id="NoRecordsDiv" aria-hidden="false">
                                    <td width="100%" data-original-title="" title="">
                                        <h5 class="text-center">
                                            <span style="color:black;" href="#">No Records to Display</span>
                                        </h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="paginationfooter"></div>

            <div id="errorMsg" class="errormsgcenter" style="color:red;visibility:hidden;text-align:center;" aria-hidden="true">
                <!-- ngIf: RescheduleErrorList.length > 0 -->
            </div>

            <div class="form-group">
                <div id="HideGridSaveButtonDiv" style="display:none;" class="col-sm-12 text-center mt30">
                    <button type="button" id="btnSave" class="btn btn-primary customButton" title="Save" tabindex="5"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                    <button type="button" id="btnAddNew" class="btn btn-grey customButton" title="Reset" tabindex="5"><i class="fa fa-repeat" aria-hidden="true"></i>Reset</button>                    
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ng/controllers/VM/BulkAuthorization.js")"></script>
}
