
@{
    ViewBag.Title = "UserRegistration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/JQGrid/UM/UnblockUserList.js"></script>

<div class="content_header">
    <ol class="breadcrumb">
        <li><a href="/home/dashboard"><i class="fa fa-home"></i></a></li>
        <li>User Management</li>
        <li class="active">Unblock User</li>
        <a id="HelpDescriptionLink" data-toggle="modal" title="" tabindex="0" data-target="#Description" aria-disabled="false">
            <i class="fa fa-question-circle" aria-hidden="true" style="float:right;margin-right:20px;"></i>
            <span class="badge" id="helpdescriptionid"></span>
        </a>
    </ol>
    <h4>Unblock User</h4>
</div>

<form class="form-horizontal1">
    <div class="content-area">

        

        <div class="row">
            <div id="gridTable">
                <div class="col-sm-12">
                   

                    <div class="panel-heading PanelHeadingSearch"  id="advanceSearch">
                        <h4 class="panel-title text_align_left">
                            <a id="jQGridCollapse1" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapse1" aria-expanded="false" aria-controls="collapseOne"
                               class="collapsed display_block">Unblock User Search<i class="indicator glyphicon pull-right glyphicon-plus" id="iJQGridIndicator1"></i></a>
                        </h4>
                    </div>

                </div>
                <div class="col-sm-12">

                    <div id="gridContainer"></div>
                </div>
                <div class="col-sm-12 jqContainer hide_container">
                    <table id="grid"></table>
                    <div id="pager"></div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-12 text-center"> <button type="button" id="btnSave" class="btn btn-primary "><i class="fa fa-unlock" aria-hidden="true"></i>Unblock</button>
            </div>
            </div>
        </div>

</form>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/ng/Controllers/UM/UnblockUser.js")"></script>
}