
    <div class="content_body">
        <form class="form-horizontal" id="frmAdditionalInfo" novalidate autocomplete="off">
            @*<div class="row">
                <label class="pull-right label status"><b></b></label>

            </div>*@
            <div id="divAdditionalFieldsContainer">

            </div>
           
                
            <div class="row">
                <div class="col-sm-12 errorMsgAdditionalInfoTab" style="color:red; visibility:hidden;text-align:center;" aria-hidden="true" id="errorMsgAdditionalInfoTab">
                    <div class="errormsgcenter">
                    </div>
                </div>              


                <div class="col-sm-12 text-center  mt30">
                    <button type="button" class="btn btn-primary customButton" id="btnAdditionalInfoEdit"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                    <button type="button" class="btn btn-grey customButton" id="btnAdditionalInfoCancel1"><i class="fa fa-repeat" aria-hidden="true"></i>Reset</button>
                </div>
                </div>

</form>
    </div>
<script src="~/Scripts/ng/Controllers/BER/AdditionalInfo.js"></script>


