
@charset "utf-8";
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#wrapperMC {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.mainMC.parentMC {
	margin-left: calc(50% - 250px / 2);
}
.mainMC {
    background-color: #5B9BD5;
    box-sizing: border-box;
    border: 2px solid #5282AD;
    border-radius: 5px;
    display: block;
    line-height: 20px;
    margin-top: 22px;
    text-align: center;
    position: relative;
    padding: 5px;
    width: 250px;
    color: #FFF;
    margin-left: calc(50% - 250px / 2);
    min-height: 75px;
    vertical-align: top;
}
.mainMC:after {
	background: url("/images/arrow.png") no-repeat center top;
	content: "";
	height: 32px;
	width: 32px;
	left:50%;
	position: absolute;
	top: 95%;
	margin-left:-16px;
}

.subMC  > .mainMC {
	display: inline-block;
	margin-left:0;
	}
	.left-align {
		margin-left:120px;
		text-align:left;
	}
.sub-child {
  margin-left: -12px;
  text-align: center;
  width: 511px;
}	.sub-child  > .mainMC {
		margin-left:5px;
	}
.spanMC {
  border-bottom: 2px solid #5282ad;
  display: block;
  margin-left: 129px;
  margin-top: 20px;
  text-align: center;
  width: calc(100% - 255px);
}

span.big-line {
    margin-left: 246px;
    width: calc(100% - 493px);
}
.sub-child > .mainMC::after, #wrapperMC > .subMC .mainMC::after {
    top: -43%;
}
.mainMC.line::after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-left: 2px solid #5282AD;
    height: 24px;
    left: calc(50% - -15px);
    top: 71px;
}
.line1::after  {
	background: url("/images/arrow.png") no-repeat center top;
	content: "";
	height: 32px;
	width: 32px;
	left:50%;
	position: absolute;
	top: 95%;
	margin-left:-16px;
}
.line1::before {
	position: absolute;
  border-left: 2px solid #5282AD;
  height: 24px;
  left: calc(50% - -15px);
  top: 83px;
}
.line2 {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #5282AD;
  border-image: none;
  border-style: none none none solid;
  border-width: medium medium medium 2px;
  height: 25px;
  margin-bottom: -20px;
  margin-top: 0;
}


/*  EM Chart*/


#wrapper {
	position: relative;
	max-width:1000px;
	margin:0 auto;
	text-align:center;
}
#wrapper-1 {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.main {
    background-color: #ca5d52;
    box-sizing: border-box;
    border: 2px solid #c03d39;
    border-radius: 5px;
    display: inline-block;
    line-height: 20px;
    margin-top: -15px;
    text-align: center;
    position: relative;
    padding: 3px;
    width: 310px;
    color: #FFF;
    min-height: 84px;
	font-size:12px;
}
.main:after {
    border-left: 2px solid #02a8f3;
    border-top: medium none transparent;
    border-bottom: medium none transparent;
    content: "";
    height: 40px;
    left: 50%;
    position: absolute;
    top: calc(100% + 2px);
    width: 0;
}

.entry {
	padding:10px 40px;
	margin-top: 10px;
}
.entry .label-sub {
    border: 2px solid #666;
    border-radius: 5px;
    display: block;
    line-height: 20px;
    margin-top: -15px;
    min-width: 300px;
    padding: 5px;
    text-align: center;
    min-height: 84px;
	font-size:12px;
}
.branch.v1 {
	margin-top:80px;
	 float: left;
    width: 100%;
}
.top {
	position:relative;
	padding-left:20px;
	
}
.top:after {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid #555;
	content: "";
	height: 0;
	left: 50%;
	margin-left: -4px;
	position: absolute;
	text-align: center;
	top: -15px;
	width: 0;
}
.top:before {
	border-left: 2px solid #02a8f3;
	content: "";
	height: 40px;
	left: 50%;
	position: absolute;
	top: -54px;
}
.top-1 {
	position:relative;
	padding-left:20px;
	
}
.top-1:after {
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid #555;
	content: "";
	height: 0;
	left: 50%;
	margin-left: -4px;
	position: absolute;
	text-align: center;
	top: -15px;
	width: 0;
}
.top-1:before {
	border-left: 2px solid #02a8f3;
	content: "";
	height: 30px;
	left: 50%;
	position: absolute;
	top: -45px;
}
.right {
	position:relative;
}
.right:after {
	border-bottom: 5px solid transparent;
	border-left: 8px solid #555;
	border-top: 5px solid transparent;
	content: "";
	height: 0;
	left: 30px;
	margin-top: -12px;
	position: absolute;
	text-align: center;
	top: 51%;
	width: 0;
}
.sub {
	width:33.33%;
	float:left;
}
.sub-left {
	width:33.33%;
	float:left;
}
.sub-right {
	width:33.33%;
	float:right;
}
.single-line{
	position:relative;
	background: #4ea3d7 none repeat scroll 0 0;
    border: 2px solid #398cbe !important;
	color:#fff;
}
.single-line-1{
	position:relative;
	background: #4ea3d7 none repeat scroll 0 0;
    border: 2px solid #398cbe !important;
	color:#fff;
}
.single-line-nobranch {
	position:relative;
	background: #4ea3d7 none repeat scroll 0 0;
    border: 2px solid #398cbe !important;
	color:#fff;
}

.single-line::after {
 border-left: medium none transparent;
 border-right: medium none transparent;
 border-top: 2px solid #02a8f3;
 content: "";
 height: 0;
 left: -30px;
 margin-top: 0;
 position: absolute;
 top: 50%;
 width: 30px;
}
/*.single-line-1::after {
 border-left: medium none transparent;
 border-right: medium none transparent;
 border-top: 2px solid #02a8f3;
 content: "";
 height: 0;
 left: -30px;
 margin-top: 0;
 position: absolute;
 top: 50%;
 width: 30px;
}*/
.double-line {
	position:relative;
	background: #d7a036;
    border: 2px solid #c99126 !important;
	color:#fff;

}
.double-line::after {
    border-bottom: medium none transparent;
    border-left: 2px solid #02a8f3;
    border-top: medium none transparent;
    content: "";
    height: calc(100% + 20px);
    left: -50px;
    position: absolute;
    top: -59px;
    width: 0;
}
.double-line::before {
 border-left: medium none transparent;
 border-right: medium none transparent;
 border-top: 2px solid #02a8f3;
 content: "";
 height: 0;
 left: -50px;
 position: absolute;
 top: 51%;
 width: 42px;
}
.double-line-1 {
	position:relative;
	background: #d7a036;
    border: 2px solid #c99126 !important;
	color:#fff;

}
.profile {
	max-width:50px;
	display:inline-block;
	float:left;
	margin-right:10px;
}
.nameEM {
	display:inline-block;
	float:left;
	margin: 7px;
}
.clear-fix {
	clear:both;
}
.outer {
	width:85%;
	position:relative;
}
.outer:after {
    border-left: medium none transparent;
    border-right: medium none transparent;
    border-top: 2px solid #02a8f3;
    content: "";
    height: 0;
    left: 16.7%;
    margin-top: 0;
    position: absolute;
    top: 155px;
    width: calc(100% - 33.2%);
}
/*chart-2*/

/* CSS Document */
.main-1 {
    background-color: #ca5d52;
    box-sizing: border-box;
    border: 2px solid #c03d39;
    border-radius: 5px;
    display: inline-block;
    line-height: 20px;
    margin-top: -15px;
    text-align: center;
    position: relative;
    padding: 3px;
    width: 300px;
    color: #FFF;
    min-height: 85px;
	font-size:12px;
}
.main-1:before {
    border-left: 2px solid #02a8f3;
    border-top: medium none transparent;
    border-bottom: medium none transparent;
    content: "";
    height: 35px;
    left: 50%;
    position: absolute;
    top: calc(100% + 2px);
    width: 0;
}
.main-arrow-1:after {
	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #555;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    text-align: center;
    top: 113px;
    width: 0;	
}
.entry-1 {
    padding: 10px 10px;
    margin-top: 10px;
    font-size: 12px;
}
.entry-1 .label-sub {
    border: 2px solid #666;
    border-radius: 5px;
    display: block;
    line-height: 20px;
    margin-top: -15px;
    min-width: 250px;
    padding: 5px;
    text-align: center;
    min-height: 85px;
}
.branch-1.v1 {
	margin-top:55px;
	 float: left;
    width: 100%;
}
.branch-1.v2 {
    margin-top: 25px;
    float: left;
    width: 100%;
}
.branch-1.v3 {
    margin-top: 50px;
    float: left;
    width: 100%;
    margin-left: -120px;
}
.sub-left-1 {
	width:33.33%;
	float:left;
}
.sub-right-1 {
	width:33.33%;
	float:right;
}
.outer-1 {
	width:85%;
	position:relative;
}
.outer-1:after {
    border-left: medium none transparent;
    border-right: medium none transparent;
    border-top: 2px solid #02a8f3;
    content: "";
    height: 0;
    left: 16.7%;
    margin-top: 0;
    position: absolute;
    top: 355px;
    width: calc(100% - 33.1%);
}

.divider-hr-1::after {
    border-left: medium none transparent;
    border-right: medium none transparent;
    border-top: 2px solid #02a8f3;
    content: "";
    height: 0;
    left: 1.7%;
    margin-top: 0;
    position: absolute;
    top: 755px;
    width: calc(100% - 66.5%);
}

.divider-sub-1::after {
    border-left: 2px solid #02a8f3;
    border-top: medium none transparent;
    border-bottom: medium none transparent;
    content: "";
    height: 25px;
    left: auto;
    position: absolute;
    top: calc(100% + 2px);
    width: 0;
}

.boxImg {
width: 60px;
float: left;
}
.boxText {
    width: 225px;
    float: left;
    text-align: left;
}
.boxText-1 {
    width: 170px;
    float: left;
    text-align: left;
}