<div role="tabpanel" class="tab-pane" id="aAFAdditionalInfo" @*style="visibility:hidden"*@>
    <div class="content_body">
        <form class="form-horizontal" id="frmAdditionalInfo" novalidate>

            <div id="divAdditionalFieldsContainer">

            </div>
            <div class="errormsgcenter" style="color:red;visibility:hidden;text-align:center;" aria-hidden="true" id="errorMsgAdditionalInfoTab">

            </div>

           
            <div class="row mt30">
                <div class="form-group">
                    <div class="col-sm-12 text-center">
                        <button type="button" class="btn btn-primary customButton" id="btnAdditionalInfoEdit"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                        <button type="button" class="btn btn-grey customButton" id="btnAdditionalInfoCancel"><i class="fa fa-repeat" aria-hidden="true"></i>Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>
<script src="~/Scripts/ng/Controllers/BEMS/AdditionalInfoWorkorderUnscheduled.js"></script>






