
<div class="panel panel-default">
    <div class="panel-heading">Asset Classification</div>
    <div id="AssetCategoryChart" class="panel-body">

    </div>
</div>
<script src="~/Scripts/ng/Controllers/Dashboard/AssetCategoryChart.js"></script>