<div class="panel panel-default">
    <div class="panel-heading">Maintenance Cost</div>
    <div id="MaintenanceCostChart" class="panel-body">

    </div>
</div>
<script src="~/Scripts/ng/Controllers/Dashboard/MaintenenceCostChart.js"></script>