
<div class="panel panel-default">
    <div class="panel-heading">PPM Work Order</div>
    <div id="PPMWorkOrderChart" class="panel-body">

    </div>
</div>
<script src="~/Scripts/ng/Controllers/Dashboard/PPMWorkorder.js"></script>