
@{
    ViewBag.Title = "Summary Fee-BEMS Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    @functions{
        public string GetAntiForgeryToken()
        {
            string cookieToken, formToken;
            AntiForgery.GetTokens(null, out cookieToken, out formToken);
            return cookieToken + ":" + formToken;
        }
    }

    <input id="antiForgeryToken" type="hidden" />
    <input type="hidden" id="primaryID" name="primaryID" value="@ViewBag.Id" />
    <input type="hidden" id="ActionType" name="ActionType" value="@ViewBag.ActionType" />
    <input type="hidden" id="Timestamp" name="Timestamp" value="null" />

    <div class="content_header">
        <ol class="breadcrumb">
            <li>
                <a href="Dashboard.html"><i class="fa fa-home"></i></a>
            </li>
            <li><a href="#">Reports</a></li>
            <li class="active"><a href="#">Summary Fee-BEMS Report</a></li>

        </ol>
        <h4>@ViewBag.ActionType Summary Fee-BEMS Report</h4>
    </div>
    <div class="standard-tabs" id="tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-1" data-toggle="tab">Summary Fee-BEMS Report</a></li>
        </ul>
    </div>
    <!-- Content Header Ends -->
    <!-- Contents goes here -->

    <div class="content_body">
        <form class="form-horizontal" id="AssetRegistrationHistoryForm" autocomplete="off">

            <!--<div class="row">
                  <div class="col-sm-6 ">
                      <div class="form-group">
                          <label class="col-sm-6 control-label">Asset Status</label>
                          <div class="col-sm-6">
                              <div>
                                  <input type="text" class="form-control" maxlength="25" id="AssetStatus">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 ">
                      <div class="form-group">
                          <label class="col-sm-6 control-label">Group By</label>
                          <div class="col-sm-6">
                              <div>
                                  <input type="text" class="form-control" maxlength="25" id="Groupby">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>-->
            <div class="row">
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">From Date</label>
                        <div class="col-sm-6">
                            <div>
                                <input type="text" class="form-control datetimepicker" id="Assetfromdate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 ">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">To Date</label>
                        <div class="col-sm-6">
                            <div>
                                <input type="text" class="form-control datetimepicker" id="AssetTodate">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mt30">
                <div class="col-sm-12 text-right">
                    <input type="button" id="btnSummaryFeeRptFetch" name="btnFetch" class="btn btn-primary" onclick="getSummaryFeeReport()" title="Fetch" value="Fetch">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr style="margin: 2em 0;">
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <div>
                            <iframe id="ReportFrame" frameborder="0" src="" style="width:100%;height:550px;"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group mt20">
                <div class="col-sm-12 text-right">
                    <input type="button" id="btnSummaryFeeRptCancel" name="btnCancel" class="btn btn-grey" title="Cancel" value="Back">
                </div>
            </div>
        </form>
    </div>
</div>


@section scripts
    {
<script type="text/javascript" src="~/Scripts/ng/Controllers/Report/SummaryFeeReport.js"></script>
    
}

