

<div class="panel panel-default">
    <div class="panel-heading">Asset Maintenance Category</div>
    <div id="AssetwarrantyChart" class="panel-body">

    </div>
</div>
<script src="~/Scripts/ng/Controllers/Dashboard/AssetWarranty.js"></script>