<div class="panel panel-default">
    <div class="panel-heading">BER Asset</div>
    <div id="BerAssetChart" class="panel-body">

    </div>
</div>
<script src="~/Scripts/ng/Controllers/Dashboard/BERAssetChart.js"></script>