
<div class="panel panel-default">
    <div class="panel-heading"> Unscheduled Work Order</div>
    <div id="WorkOrderChart" class="panel-body">

    </div>
</div>

<script src="~/Scripts/ng/Controllers/Dashboard/BMWorkorder.js"></script>