<div class="panel panel-default">
    <div class="panel-heading">Service Fee</div>
    <div id="DeductionChart" class="panel-body">

    </div>
</div>

<script src="~/Scripts/ng/Controllers/Dashboard/DeductionChart.js"></script>