
<div class="panel panel-default">
    <div class="panel-heading">KPI Target</div>
    <div id="KPITargetChart" class="panel-body">

    </div>
</div>
<script src="~/Scripts/ng/Controllers/Dashboard/KPITargetChart.js"></script>