
<div class="panel panel-default">
    <div class="panel-heading">KPI Demerit</div>
    <div id="KPIChart" class="panel-body">

    </div>
</div>

<script src="~/Scripts/ng/Controllers/Dashboard/KPIChart.js"></script>
