

<div class="panel panel-default">
    <div class="panel-heading">Uptime</div>
    <div id="EquipmentUptimeChart" class="panel-body">

    </div>
</div>


<script src="~/Scripts/ng/Controllers/Dashboard/UptimeChart.js"></script>